In [290]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch02 자료형과 연산자</font>

# 5절 연산자
## 5.1 산술 연산자 : +-/*//(몫연산자)%(나머지)**(제곱)

In [4]:
print(10**5) #10의 5승
print(4/2)  #결과 실수
print(4//2)  # 몫
print(4%2)   # 나머지

100000
2.0
2
0

In [8]:
# 정수를 입력받아 짝수인지 올수인지 여부를 출력
number=int(input("number>"))

number>4

In [14]:
if number%2:   #1은 True 이기 때문에 이대로 작성
    print("입력한수는{}입니다, 2로 나눈 나머지는{}, 그래서 짝수 입니다".format(number, result))
else:
    print("입력한수는{}입니다".format("짝수"))

입력한수는짝수입니다

In [124]:
# 정수를 입력받아 5의 배수인지 여부를 출력
number=int(input("number>"))
if number%5==0:
    print("입력한 수{}는 5의 배수입니다".format(number))
else:
    print("입력한 수{}는 5의 배수가 아닙니다".format(number))

number>59
입력한 수59는 5의 배수가 아닙니다

In [34]:
a=int(input("국어점수>"))

국어점수>99

In [61]:
b=int(input("영어점수>"))

영어점수>100

In [62]:
c=int(input("수학점수>"))

수학점수>99

In [63]:
sum=int(a+b+c)
print(sum)

298

In [64]:
sum

298

In [66]:
average=float(sum//3)
average

99.0

In [68]:
print("국어{}    영어{}    수학{}     총점{}    평균{}".format(a,b,c,sum,average))

국어99    영어100    수학99     총점298    평균99.0

In [84]:
kor=int(input("국어점수>"))
eng=int(input("영어점수>"))
mat=int(input("수학점수>"))
sum=kor+eng+mat
average=sum/3
print("국어:{:>3d}\t영어:{}\t수학:{:>3d}\n총점:{}\t평균:{:5.1f}".format(kor,eng,mat,sum,average))
#format 에서는 띄어쓰기를 주의해야 할것, 평균값을 구할때 소숫점 자리 설정하는법 알아두기

국어점수>99
영어점수>100
수학점수>99
국어: 99	영어:100	수학: 99
총점:298	평균: 99.3

In [75]:
# quiz 2(강사님 답안)

num = int(input('정수를 입력하세요 :'))
result = num%5
if result:  #0 나와서 거짓
    temp = "5의 배수가 아님"
else:
    temp = "5의 배수"
print(f"입력하신 수는 {num}, {temp}를 입력하셨군요")

정수를 입력하세요 :9
입력하신 수는 9, 5의 배수가 아님를 입력하셨군요

## 5.2할당 연산자 : =, +=, -=, *=, /=, //=, %=

In [85]:
a= 10
a += 5 # a=a+5
print(a)

15

In [88]:
a= 10
a += 5 # a=a+5
print(a)
a -= 5 # a = a-5
print(a)
a= a*5
print(a)

15
10
50

## 5.3 논리연산자 : &, |, and, or, not|

In [93]:
# & 논리연산, 비트연산
print((10>3) and (10>5)) # 논리 연산
print(12 & 1)   # 비트연산   12 : 0000 1100
                  #            1 : 0000 0001
                  #   12 & 1     : 0000 0000
print(bool(12 & 1))

True
0
False

In [99]:
# and : Flase 로 판별되는 첫번째 항의 결과를 반환 논리연산
#       모든 항이 참이면 마지막 항을 반환
print(False and True and True) 
print(True and 1 and 3)
print(0 and True)
print(True and "abc")
print(True and [] and True and True)

False
3
0
abc
[]

In [103]:
# / : 논리연산, 비트연산
result = False | True  
print('논리연산(연잔자 앞뒤에 논리형일때) :',result)
result = False | 3    # 0000 0000 (False)
                      # 0000 0011 (3)
print('비트연산(연산자 앞이나 뒤에 숫자일때) :', result)

논리연산(연잔자 앞뒤에 논리형일때) : True
비트연산(연산자 앞이나 뒤에 숫자일때) : 3

In [106]:
# or : 논리연산자, 참으로 판별되는 첫번째 항을 반환
#      모든 항이 거짓이면, 마지막항을 반환
print(False or False or None)
print('hong' or '' or False)

None
hong

## 5.4 비교연산자 : > , >=, <, <=, ==(같다), !(다르다)

In [110]:
# 비교연산자는 이항, 삼항, 사항.... 다항연산자
x=5
print(4 < x < 10)

True

In [113]:
# 비교연산자(<)의 우선순위가 논리연산(&)의 우선순위보다 낮다
print((10>5) & (10>7))
print(10>5 & 10>7)  # 0101     = (10 > 0 > 7) 
                    # 1010
print(10>5 and 10>7)   # and 를 사용하면 달라진다

True
False
True

In [116]:
address = '서울'
age = 29
print(address =='서울' and age>=30) #  같냐고 물어볼려면 == 를 사용해야 한다
print((address =='서울') & (age>=30)) 
print((address!='서울') & (age>=30))

False
False
False

In [117]:
# 문자 비교 : ASCII 코드 순으로 비교 가능 : 특수문자 < 숫자 < 대문자 < 소문자
'scott' < 'tiger'

True

In [118]:
'9' > '10'    # 수 비교를 위해서라면 int()를 사용해야 한다

True

In [119]:
'김길동' < '홍길동'

True

## 5.5 비트연산자 : &, |, ^(XOR), ~

In [121]:
a = 15 # 1111
b = 2 #  0010
print("a = {0:2} : {0:04b}".format(a))
print("b = {0:2} : {0:04b}".format(b))
print("a^b = {0:2} : {0:04b}".format(a^b))

a = 15 : 1111
b =  2 : 0010
a^b = 13 : 1101

# 연산자
   # - 산술연산: + - * / // % **
   # - 할당연산: = += -= *= /= //= %= 
   # - 논리연산: > >= , <= == !=
   # - 비트연산: & | ^
   # - & 와 | 0는 비교 연산보다 우선순위가 높다

# 6절. 문자열 다루기
- 문자열 슬라이싱 변수에[from:stop:step]
- len(문자열변수) : 문자갯수
- upper() : 대문자로
- lower() : 소문자로
- title() : 각 어절에 첫 글자만 대문자로 
- capitalize() : 첫문자만 대문자로
- count('찾을문자') : '찾을문자'열이 몇개 들어있는개 갯수 반환
- find('찾을문자') : 찾을 문자열이 왼쪽부터 시작하여 몇번째 인덱스에 있는지 인덱스를 반환
- rfind('찾을문자열') : 찾을문자열이 오른쪽부터 시작하여 몇번째 인덱스에 있는지 인덱스를 반환
                     **찾을문자열이 없으면 -1을 반환**
        cf) index('찾을문자열') : 찾을문자열의 index를 반환. 찾을문자열이 없으면 오류
- startwith('특정문자열') : 특정문자열로 시작하는지 여부
- endwith('특정문자열') : 특정문자열로 끝나는지 여부
- strip() : 좌우 공백 제거
- rstrip() : 오른쪽 공백 제거
- lstrip() : 왼쪽 공백 제거
- isdigit() : 문자열이 숫자문자열인지 여부"10"
- islower() : 소문자문자열인지 여부
- isupper(): 대문자문자열인지 여부
- replace(oldstr, newstr) : oldstr을 newstr로 변경

In [145]:
temp = "python is easy. pYThon is smart. python"
temp, len(temp) 
temp.upper()
temp.title()

'Python Is Easy. Python Is Smart. Python'

In [133]:
temp = "python is easy. pYThon is smart. pyhton"
print(len(temp)) #글자수

39

In [134]:
temp = "python is easy. pYThon is smart. python"

In [135]:
temp.upper() # 대문자

'PYTHON IS EASY. PYTHON IS SMART. PYHTON'

In [137]:
temp.lower() # 소문자

'python is easy. python is smart. pyhton'

In [139]:
temp.title() #어절마다 (척글자) 대문자

'Python Is Easy. Python Is Smart. Pyhton'

In [141]:
temp.capitalize() # 첫글자만 대문자로  # 이걸로 temp 로 바꾸고 싶다면 temp=temp.captilize()

'Python is easy. python is smart. pyhton'

In [147]:
temp.count('python') #python 단어만 검색

2

In [156]:
temp.lower().count('python')
temp.upper().count("PYTHON")
temp.lower().count('python')

3

In [158]:
temp.find('python') # python 이 나오는 인덱스

0

In [160]:
temp.rfind('python') 
temp.rfind("java")  # 없으면 -1이 나온다.

-1

In [163]:
temp.startswith('python') # python 으로 시작하나 단 대문자와 소문자 구별할것

True

In [164]:
temp.endswith('python') # python 으로 끝나나 단 대문자와 소문자 구별할것

True

In [178]:
temp='    python is easy.     '
notdisit='1,000'
num_str ='1000'
print("{}".format(temp.strip()))  #좌우공백제거
temp.lstrip()  #좌측공백 제거
temp.rstrip()  #우측공백 제거
notdisit.isdigit() #숫자문자열인지
temp.islower() #소문자열인지
temp.isupper() #대문자열인지
notdisit.replace(',','') #제거
num_str.replace(',','') #제거

python is easy.

'1000'

In [181]:
temp = "홍길동 김길동 신길똥 유길동"
print('space단위로 temp 분리' ,temp.split())  # 기본이 space 단위로 분리

space단위로 temp 분리 ['홍길동', '김길동', '신길똥', '유길동']

In [186]:
data = "2025-04-10"
print('-단위로 data를 분리(결과 :list)')
data_list = data.split('-')
print(data_list)
print("년 :", data_list[0])
print("월 :", data_list[1])
print("일 :", data_list[2])

-단위로 data를 분리(결과 :list)
['2025', '04', '10']
년 : 2025
월 : 04
일 : 10

In [187]:
#
temp="python - HTML/CSS - JavaScript"
temp_list=temp.split('-')
print(temp_list[0])

python

In [189]:
temp="python - HTML/CSS - JavaScript - DBMS - 딥러닝"
# - 단위자르고 /로 합할 것이다 -를 /로 바꿀거다
temp.replace('-','/')

'python / HTML/CSS / JavaScript / DBMS / 딥러닝'

In [192]:
temp="python - HTML/CSS - JavaScript - DBMS - 딥러닝"
splited_temp=temp.split('-')    # 나눌떄 변수.split(무엇)
print(splited_temp)
joined_temp = '/'.join(splited_temp)   # 합할때  무엇.join(변수)
print(joined_temp)

['python ', ' HTML/CSS ', ' JavaScript ', ' DBMS ', ' 딥러닝']
python / HTML/CSS / JavaScript / DBMS / 딥러닝

In [193]:
str_ = 'ABC'

In [196]:
#물자열이 다룰 수 있는 함수들 목록
dir(str)
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

# 7절 시간,날짜,날짜시간 다루기

# 8절. 연습문제

In [199]:
#1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
#[출력형식 : 홍길동님의 나이는 23 살입니다]
name = "홍길동"
age = "23"
print("[{}님의 나이는 {} 살입니다]".format(name, age))

[홍길동님의 나이는 23 살입니다]

In [203]:
#2. 두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요
a=5
b=8
print("덧셈:",a+b)
print("뺄셈:",a-b)
print("곱셈:",a*b)
print("나눗셈:",a/b)
print("나머지:",a%b)

덧셈: 13
뺄셈: -3
곱셈: 40
나눗셈: 0.625
나머지: 5

In [213]:
#3. 문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello World'  가 할당된 변수를 이용하여 'World Hello'로 출력하세요
temp='Hello World'
temp_list=temp.split()
temp_list[0]
temp_list[1]
print("'{} {}'".format(temp_list[1],temp_list[0]))

'World Hello'

In [241]:
#4. x = 'abcdef＇를 이용하여 'bcdefa' 로 출력하세요 문자 슬라이싱이용
str="abcdef"
print(str[1:6])
print(str[0])
print("답은:{}{}".format(str[1:6],str[0]))

bcdef
a
답은:bcdefa

In [288]:
#5. x = ‘ abcdef 를 이용하여 fedcba 로 출력하세요
str_="abcdef"
print(str_[1:]+str_[0])

bcdefa

In [265]:
#6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 화
#씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 소수점이하 값이 없는 경우 
#소수점을 출력하지 않도록 합니다 다음은 섭씨와 화씨의 변환 공식입니다 . C 는 섭씨 ,F 는 화씨
# C = (F-32) / 1.8, F = (C*1.8) + 32
오늘온도=int(input("오늘섭씨온도>"))
화씨온도=int((오늘온도*1.8)+32)
print("오늘의 화씨온도는{}F입니다".format(int((오늘온도*1.8)+32)))

오늘섭씨온도>18
오늘의 화씨온도는64F입니다

In [266]:
#7 다음 중 변수 선언으로 잘못된 것을 모두 고르시오
  # 답 : 1,3,4

5

In [267]:
#8 코드의 실행결과
  # 답 : 잘 모르겠습니다..

In [273]:
#9 답 : 1

In [276]:
# 10 : 오류로 나올 것이다

In [285]:
#11 
str_="우리 나라 대한 민국"
str_list=str_.split( )
str_list[1]
print('"{}"'.format(str_list[1]))

"나라"

In [289]:
del str