In [3]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch03 데이터구조</font>
- 리스트.[], 튜플(),딕셔너리{}, 셋

# 1절. 리스트
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값()을 저장, 여러개 값(여러타입)을 하나의 변수에 저장/관리할 수 있음
- list(리스트로 변환 가능한 자료) 함수 이용도 가능  ex) List(10,20) 은 안된다
- 인덱스 : 각 요소의 위치. 0부터 시작. 맨 마지막 인덱스는 -1
- 슬라이싱([from:stop:step]) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [ ]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

In [ ]:
print(fruits)

In [ ]:
print(fruits)
print(fruits[0])

In [ ]:
fruits[0] = 'mango'
print(fruits)

In [ ]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits 
print("x=",x)
print("y=",y)
print("z=",z)

In [ ]:
# range(from, stop, step) : form 부터 stop 앞까지 step 씩 증가하면서 지정된 범위의 정수
      # from 생략시 : 0
      # by 생략가능시list 1
list(range(10))

In [ ]:
list(range(101, 111))

In [ ]:
list(range(10,-1,-2))

In [ ]:
# 반복문 3회
for i in [0,1,2]:
    print(i)

In [ ]:
for i in range(3):
    print(i)

In [ ]:
fruits = ['mango', 'apple', 'orange', 'grape']
for i in range(len(fruits)):     #len(fruits) : 리스트 데이터 수
    print("{}번째 과일은 {}입니다".format(i, fruits[i]))

In [ ]:
for value in fruits:
    print(value)

In [ ]:
# enumerate(나열가능한 자료) : (i,vlaue)의 값들
for i, vlaue in enumerate(fruits):
    print("{}번째 과일은 {}입니다".format(i, value))

In [ ]:
list(enumerate(fruits))

In [ ]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
number = [0,True, '2', 3, [4,5,6]]
print(number)
print(number[1])
print(number[4][1])  #리스트속 리스트의 특정 숫자를 가져오기 위해서는 [][]2번 해 주어야 한다.

In [ ]:
# 2차원 리스트  리스트 안에 리스트가 들어간것
numbers_2d = [[90,91,92],[85,86,82,75,77],[71,70,72],[60,1,2,5],]
print(numbers_2d)
len(numbers_2d), len(numbers_2d[1])

In [ ]:
for i, row in enumerate(numbers_2d):
    for j, vlaue in enumerate(row):
        print("{}행{}열:{}".format(i,j,vlaue), end='\t' )
    print() # 개행

In [ ]:
del vlaue

In [ ]:
numbers_2d = [[90,91,92],[85,86,82,75,77],[71,70,72],[60,1,2,5],]
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print()

In [ ]:
numbers_2d = [[90,91,92],[85,86,82,75,77],[71,70,72],[60,1,2,5],]
for row in numbers_2d:
    print(row)

In [ ]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [[100,0],[9,100],[50,54]]
for row in numbers_2d:
    for items in row:
        print(items, end='\t')

In [ ]:
# 요소의 수
print(len(numbers), len(numbers_2d))

In [ ]:
# 최솟값, 최대값
min(numbers), max(numbers)

In [ ]:
# 2 차원 list min() : 0번 인덱스 요소가 가장 작은 값
#            man() : 0번 인덱스 요소가 가장 큰 것
min(numbers_2d),    max(numbers_2d)

In [ ]:
#문자 list일 경구 ascii 코드값으로 min(), max() 적용
fruits = ['mango', 'apple', 'orange', 'APPLE']
min(fruits), max(fruits)

In [ ]:
numbers = [1, 12, 3, 5, 4]
# 정렬(오름차순, 내림차순)
print("오름차순", sorted(numbers))
print("내림차순", sorted(numbers, reverse=True))
print("sorted 함수 사용시 리스트 내용이 바뀌지 않음", numbers)
print("합", sum(numbers))

## 1.3 요소추가
```
(+) : 두 리스트 연결
(*) : 리스트를 곱한 수만 반복
append() : 맨뒤에 요소 추가
extend() : 맨뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx 번째 인덱스 위치에 추가(기존데이터는 shift)

```

In [ ]:
numbers = [1,2,3,]   #연결
numbers = numbers + numbers
numbers

In [ ]:
numbers=[1,2,3]  #반복
print(numbers*3)

In [ ]:
#추가
numbers.append(4)
numbers
numbers.append([5,6,7])   # 맨 뒤에 요소로 추가
print(numbers)

In [ ]:
num=[1,2,3]
num.append([4,5,6])
print(num)

In [ ]:
# 요소별로 각기 추가
num=[1,2,3]
num.extend([4,5,6])
print(num)

In [ ]:
num.insert(2, 'x')
print(num)

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
                    찾을데이터가 없을 경우 오류
- count(찾을데이터) : 리스트에서 찾을 데이터의 갯수 반환

In [ ]:
numbers = [1,2,3,[1,2,3],1,2,3]
numbers.count(2), numbers.count(9)

In [ ]:
numbers.index(2) # 0번째 index 부터 2가 처음 나오는 index를 반환

In [ ]:
numbers.index(2, 2) #3번째 index 부터 2가 처음 나오는 index를 반환

In [ ]:
numbers = [1,2,3,[1,2,3],1,2,3]
if numbers.count(9):
    print(numbers.index(9))
else :
    print("no 9")

In [ ]:
9 in numbers # 리스트에 9가 존재하는지 여부

In [ ]:
def safe_index(number, data):
    if data in number:  # number 안에 data 있는지 여부
        return number.index(data)
    else:
        return -1

In [ ]:
safe_index(number, 9)

## 1.5 원하는 요소 추출
1. 리스트 슬라이승 : 리스트에서 원하는 index의 데이터를 추출
     - [from:stop:step] from부터 stop앞까지 step씩 중가하는 indez 값ㅇ르 추출
     - from 생략시 처음. stop 생략시 끝. step 생략시 1. 모두 생략 가능
     - 음수 인덱스 가능

2. <font color="red">리스트컴프리헨션</font> : 리스트에서 원하는 데이터를 추출

In [ ]:
numbers = [1,3,5,9,10,12,13,20]
# 짝수번째 인덱스 값 출력
numbers[0:7:2]
# 거꾸로 출력
numbers[::-1]

In [ ]:
#짝수만
numbers = [1,3,5,9,10,12,13,20]
result=[]
for data in numbers:
    if data%2==0:
        result.append(data)
    else:
        pass
print(result)

In [ ]:
#짝수만
numbers = [1,3,5,9,10,12,13,20]
result=[]
for data in numbers:
    if data%2==0:
        result.append(data)
print(result)

In [ ]:
numbers = [1,3,5,9,10,12,13,20]
result=[]
for data in numbers:
    result.append(data)
print(result)

** 리스트컴프리헨션

In [ ]:
# numbers 의 모든 data 를 리스트컴프리헨션으로 추출
[data for data in numbers]

In [ ]:
# numbers 의 짝수 데이터를 리스트 컴프리헨션으로 추출
[data for data in numbers if data%2==0]

In [ ]:
[data for data in numbers if not data%2==0]

In [ ]:
# ex1. numbers 에서 10 이상만 추출
numbers = [1,3,5,9,10,12,13,20]
[data for data in numbers if data>=10]

In [ ]:
# ex2. fruits 에서 5글자가 넘는 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[data for data in fruits if len(data)>5 ]

In [ ]:
# ex.3이상의 요소들의 제곱을 추출하시오
L=[1,2,3,4,5]
[data**2 for data in L if data>=3]     #데이터 처리가 맨앞으로 이동을 함으로 data**2

## 1.6요소 수정하기

In [ ]:
numbers = [0,1,2,3,4,5,6,7,8,9]
# 인덱스를 이용해서 특정요소를 수정
numbers[2]= 222
numbers

In [ ]:
# 슬라이싱을 이용해서 요소 수정(step부분이 미포함 : 부분 리스트가 통째로 수정)
numbers[1:4] = ['x','y','z','ㅋ','ㅎ']
numbers

In [ ]:
# 슬라이싱을 이용해서 요소 수정(step부분 포함 : 요소 갯수가 맞아야 함)
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[::2]=['x']*5 #짝수번째만 바꿈
numbers

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(지울data) : 리스트안의 data 가 삭제
- del 변수[idx] : idx번째 요소가 삭제

In [ ]:
numbers = [1, 2, 3, 4, 5]
delete_data = numbers.pop()
print("delet data:{}, numbers:{}".format(delete_data, numbers)) # 마지막을 지운다

delete_data2 = numbers.pop(0)
print("delet data:{}, numbers:{}".format(delete_data, numbers)) # 0번째 수를 지운다

del numbers[2]   # 특정한 인덱스 데이터를 지운다
print(numbers)

numbers = [1, 2, 3, 4, 5]
del_num = numbers.remove(3)
print(del_num)  # remove 는 반환값이 없고 삭제를 해버린다
print(numbers)

In [ ]:
numbers.remove(9)

In [ ]:
if 9 in numbers:
    numbers.remove(9)   
else:
    print('no data')

In [ ]:
def safe_remove(numbers, remove_data):
    if remove_data in numbers:
        numbers.remove(remove_data)
        print("remove complete")
    else:
        print("none data")

In [ ]:
safe_remove(numbers, 9)

## 1.8 정렬하기

In [ ]:
numbers = [1,9,5,0,8] # reverse = True : 내림차순
print('numbers 는 변경하지 않고 정렬 :',sorted(numbers, reverse=True))
print(numbers)

In [ ]:
numbers.sort() # numbers 자체가 정렬한 결과로 바뀜(오름차순)
numbers

In [ ]:
numbers.reverse()# numbers 자체가 역순으로 변경
numbers.reverse()
numbers

In [ ]:
list = [2,5,9]
list =list[::-1]
list

## 1.9 복제하기

In [ ]:
# 스칼라 데이터의 복제
i = 10     # 원본
copy_i = i # 복제본
print(f"원본={i}, 복사본={copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")
copy_i = 99
print(f"원본={i}, 복사본={copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")

In [ ]:
# 리스트의 복제(배열, 데이터프레임, 딕셔너리)의 복제

In [ ]:
a=10
print(a, id(a))
a=8
print(a, id(a))

In [ ]:
numbers = [5, 6, 1]
new_numbers = numbers
new_numbers[0] = 9
print(numbers)
print(new_numbers)

In [ ]:
# 얕은 복사(할당) / 깊은 복사(복제)
numbers = [5, 8, 1] # 원본
new_numbers = numbers # 얕은 복사(할당)
print(f"원본={numbers}, 복제본={new_numbers}")
print(f"원본={id(numbers)}, 복제본={id(new_numbers)}")
new_numbers[0]=-99
print(f"원본={id(numbers)}, 복제본={id(new_numbers)}")

In [ ]:
numbers = [5, 8, 1] # 원본
new_numbers = numbers.copy() # 깊은 복사(복제)    이러면 원본은 같지만 주소는 다르게 나온다
print(f"원본={numbers}, 복제본={new_numbers}")
print(f"원본={id(numbers)}, 복제본={id(new_numbers)}")
new_numbers[0]=99
new_numbers

In [ ]:
new_numbers.pop(0)
new_numbers

In [ ]:
numbers.clear()  #리스트의 요소를 모두 삭제
numbers

# 2절. 튜플
- 리스트와 유사하지만, 읽기 전용이다 수정이 필요없는 데이터에서 사용한다. 
- 수정불가하므로, 튜블에 데이터 수정, 추가, 삭제 불가(제공되는 함수도 많지 않음)
- (), tuple() 이용해서 생성

In [ ]:
# city = ('서울','부산','인천','목표')
# 파이썬은 여러개의 값이 전달될떄, 튜블 타입으로 전달
city = '서울', '부산' , '인천', '목표'
print(type(city))
print(city)

In [ ]:
a, b = (10, 12)
print(a, b)

In [ ]:
# city = ['서울', '부산', '인천', '목표']
city = ('서울', '부산', '인천', '목표')
'='.join(city)

In [ ]:
T = ('서울', 3) 
print(type(T))

In [ ]:
T = ['서울', 3] 
print(type(T))

In [ ]:
T = ('서울', ) # 요소가 하나, 그래서 컴마를 넣어우어야 튜블이 된다
print(type(T))

In [ ]:
T = ('서울') # 요소가 하나, 그래서 컴마를 넣어우어야 튜블이 된다
print(type(T))

In [ ]:
#numbers = (1,2,3)        ()
#numbers.append(4)
#numbers.remove(3)   모두 튜브림으로 수정이 안됨
number = [1,2,3]         #[]
number.append(4)      # list ㅡ는 가능함
sorted(numbers)
min(numbers), sorted(numbers, reverse=True)

In [ ]:
numbers = (0, 1, 2, (1,2), 0, 1, 2)
numbers.count(2), numbers.count(9)

In [ ]:
if 9 in numbers:    
    numbers.index(9)
else:
    print('no')

In [ ]:
def safe_index(list, item):
    """
    list 안에 item 요소가 있으면 item 요소의 index를 반환, 없으면 -1반환
    list : 나열가능한 데이터
    item : 찾을 데이터
    """
    if item in list:
        return list.index(item)     #여기서 return 
    else :
        return -1
    #  return list.index(item) if item in list else -1

In [ ]:
from safe import safe_index
numbers = (0, 1, 2, (1,2), 0, 1, 2)
safe_index(numbers, 3)

In [ ]:
numbers*3 # 반복

In [ ]:
numbers = (1,2,3,4,5,6)

[num**2 for num in numbers if num%2==0]

# 3절. 딕셔너리
- 중괄호를({}) 이용해서, 키(key) - 값(value) 쌍으로 구성된 자료구조
- 키는 중복불가(유일한 값). 키에 list는 사용불가
- 값은 중복불가
- 인덱스를 이용한 참조 지원 안 함.

In [9]:
dic = {'name' : '홍길동', 1:22, (1,2):[1,2]}
print(type(dic))
print(dic)
print("데이터 수", len(dic))

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}
데이터 수 3

In [10]:
my_favorite = {'fruit' : 'apple', 'number':12, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [11]:
print(my_favorite['fruit'])

apple

In [ ]:
#print(my_favorite['people']) # 없는 key 값을 인덱스 방식으로 참조시 에러
print(my_favorite.get('people')) # 없는 키르 get 함수로 참조지 none 이 나온다
print(my_favorite.get('people', '-')) # 없는 키를 get 함수로 참조시 '-'

In [57]:
# dic 데이터 수정하기
my_favorite = {'fruit' : 'apple', 'number':12, 'sport':'golf'}
my_favorite['fruit'] = 'mango'
print('fruit 수정 후 :', my_favorite)
my_favorite['people']='홍길동' # 데이터 추가
print(my_favorite)
del my_favorite['fruit']
print(my_favorite)
remove_date = my_favorite.pop('number')   # 특정 키의 값을 반환하고 제거
print('remove_data',my_favorite)

fruit 수정 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}
{'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '홍길동'}
{'number': 12, 'sport': 'golf', 'people': '홍길동'}
remove_data {'sport': 'golf', 'people': '홍길동'}

In [55]:
# for문을 이용한 튜플(리스트) 출력
my_tup = ('홍길동', 30, '010-9999-9999')

In [56]:
for data in my_tup:
    print(data, end="\t")
print()
for idx in range(len(my_tup)):   # 여기서 len 의 값은 3이다 for idx in range(3)값을 통해서 범위 설정
    print(f"{idx}번째 {my_tup[idx]}", end="\t")
print()
for idx, value in enumerate(my_tup):  # 나열가능한 함수 enumerate idx 와 value 값
    print(f"{idx}번째 {value}", end="\t")

홍길동	30	010-9999-9999
0번째 홍길동	1번째 30	2번째 010-9999-9999
0번째 홍길동	1번째 30	2번째 010-9999-9999

In [58]:
my_dic = {'name' : '홍길동', 'age' : 30, 'tel':'010-9999-9999' }

In [61]:
# 이 방법은 key 값만 추출을 하게 된다
for data in my_dic:
    print(data, end='\t')

name	age	tel

In [60]:
for key in my_dic:  #비추
    print(my_dic[key], end='\t')

홍길동	30	010-9999-9999

In [ ]:
for data in my_dic.values():
    print(data, end='\t')

In [62]:
my_dic.values() # 값만 추출

dict_values(['홍길동', 30, '010-9999-9999'])

In [63]:
my_dic.keys() # 키만 추출

dict_keys(['name', 'age', 'tel'])

In [64]:
my_dic.items() #키-값 쌍을 추출

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [65]:
for key, value in my_dic.items():
    print(f"{key}:{value}", end='\t')

name:홍길동	age:30	tel:010-9999-9999

In [66]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]

In [ ]:
for idx, (key, value) in enumerate(my_dic.items()):
    print("{}.{} :{}".format(idx+1, key, value))

In [ ]:
"홍길동" in my_dic

In [ ]:
"홍길동" in my_dic.values()

In [ ]:
# 얕은 복사
my_favorite = {'fruit':'apple', 'number':12,} # 원본
new_favorite = my_favorite # 복제본
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

In [ ]:
my_favortite = {'fruit':'apple', 'number':12} # 원본
new_favorite = my_favorite.copy() # 복제본
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)       # 한번더 보기

In [ ]:
# 깊은 복사
my_favorite = {'fruit':'apple', 'number':12} # 원본
new_favorite = my_favorite.copy() # 복제본(깊은 복사)
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

# 4절. 셋
- 중복을 허용하지 않는 집합(순서없음 == 인덱스없음)
- 중괄호({})나 set()함수를 이용해서 셋 생성
- 추가 : add(), update()
- 집합연산자 : &, |, -
- 삭제 : remove()

In [ ]:
fruit = {'바나나', '오렌지', '바나나', '바나나', '사과'}
fruit

In [ ]:
s1=set([1,20,1,21,1,22])
s1

In [ ]:
# set함수를 이용해서 딕셔너리를 셋으로 전환할때는 key 적용
my_favorite = {'fruit' : 'apple', 'number' :12}
set(my_favorite)

In [ ]:
추가하기
- add() : 기본자료형, 튜플데이터를 하나의 요소로 추가할 경우
- update() : 리스트, 튜플, 딕셔너리, 셋 요소 하나하나씩 추가할 경우. dict사용시 key 만 추가

In [ ]:
s2 = {1, 1, 2, 3}
s2.add(4)
s2.update([5,6,7])
s2

In [ ]:
s = {1,2,3}
s.add(False)
s.add(True)  # True 는 숫자 1을 나타낸 것이여서 있다고 생각해서 안들어 간다
s.add(0)
s            # False 가 0으로 인식되어서 안들어 가게 된다다

In [ ]:
s.remove(True)
s

## 연산:&(교집합) |(합집합)-(차집합)
&, | : 집합연산자, 논리연산자, 비트연산자

In [ ]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
print(s1|s2)
print(s1&s2)
print(s1-s2)

# 5.절 enumerate
- 반복자 또는 순서 객체로 반복문을 처리할때 사용함수
- 리스트, 튜플, 셋, 딕셔너리를 for문에 사용시

In [80]:
names = {'길자', '길동', '영자'}
for name in names:
    print(name, end='\t')

길동	영자	길자

In [81]:
for i, name in enumerate(names):
    print(f"{i}.{name}")

0.길동
1.영자
2.길자

In [ ]:
names = ['순자', '길동', '길자']
tels = ['010-9999-9999', '010-8888-8888', '010-7777-7777']
adds = ['서울','인천','판교']
for idx in range(len(names)):
    print('{}.{}의 연락처는 {}고 {}에 살아요'.format(idx+1, names[idx], tels[idx], adds[idx]))

In [ ]:
zip(names, tels, adds)

In [ ]:
list(zip(names, tels, adds))

In [ ]:
for name, tel, adds in zip(names, tels, adds):
    print(f"{names} : {tels} - {adds}")

In [ ]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    print("{}.{} :{}- {}".format(idx+1, name, tel, add))

In [ ]:
# 연습문제 1
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.append(100)
numbers

In [ ]:
# 연습문제 2

In [70]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.extend([200,300,400,500])
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 200, 300, 400, 500]

In [71]:
# 연습문제 3번
numbers[0:5:1]

[1, 2, 3, 4, 5]

In [73]:
# 연습문제 4번
numbers = [1,2,3,4,5,6,7,8,9,10]
[items for items in numbers if items%2==0]
print(numbers[::2])

[1, 3, 5, 7, 9]

In [79]:
# 연습문제 5번
#numbers = [1,2,3,4,5,6,7,8,9,10]
#numbers[::2]=['0']*5   # 이렇게 슬라이싱 할려면 갯수가 정확하게 해야 한다 *5와 같이
#print(numbers)
[numbers[idx] if idx%2!=0 else 0 for idx in range(len(numbers))]

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [53]:
# 연습문제 6번
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers[::-1]
#numbers.reverse()
#numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
# 연습문제 7번
my_dic={"name": "홍길동", "age": 20, "address" : "서울시 마포구", "score": "90"}

In [14]:
# 연습문제 7번
print(my_dic)

{'name': '홍길동', 'age': 20, 'address': '서울시 마포구', 'score': '90'}

In [16]:
# 연습문제 7번
print(my_dic['address'])
#print(my_dic.get('address'))     이 get 을 사용한 방법을 추천함

서울시 마포구

In [17]:
# 연습문제 8번
print(my_dic['score'])

90

In [19]:
#연습문제 8번
remove_data = my_dic.pop('score')
print(my_dic)

{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [21]:
#연습문제 9번
my_dic['address']='서울시 서대문구'
my_dic

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [27]:
#연습문제 10번
list(my_dic.items())

[('name', '홍길동'), ('age', 20), ('address', '서울시 서대문구')]

In [30]:
# 연습문제 서술형
1. [orange], [banana]
2. 1
3. 3
4. extend
8. 1(dic 여서 인덱스로 접근을 못함)
9. apple, banana, orange
10. 3
11. def

SyntaxError: invalid syntax (2044890217.py, line 3)

In [39]:
numbers = list(range(10))
numbers[::2] = [0]*len(numbers[::2])
print(numbers)  # 잘 모르겠습니다

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [44]:
numbers = [0,1,2,3,4,5,6,7,8,9]  
numbers[::2] = numbers[5:]
print(numbers)   # 잘 모르겠습니다

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [45]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[::2] = numbers[:5](01234)
print(numbers)  # 잘 모르겠습니다

[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

3