In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch02 자료형과 연산자</font>
# 1절 변수
- python은 변수선언이 필요 없음. 할다과 동시에 타입이 지정되고 값이 할당됨
## 1.1 변수할당
- 할당연산자(=)를 이용해서 값을 할당하면 타입이 셋팅
- 파이썬에서의 모든 변수는 객체로 저장

In [2]:
r = 5

In [3]:
number = input("r>")

r>5

In [4]:
print("width of circle", 3.14*r*r)

width of circle 78.5

In [5]:
print(r)

5

In [7]:
r=5
area=3.14*r*r
print("calculated area", area)

calculated area 78.5

In [8]:
import math

In [9]:
PI

NameError: name 'PI' is not defined

In [11]:
import numpy as np
area = np.pi*r*r
print("area=", area)

area= 78.53981633974483

In [12]:
area.is_integer()  # area 가 자연수 인지 여부

False

In [13]:
area.is_float()

AttributeError: 'float' object has no attribute 'is_float'

In [14]:
print("address of area",id(area)) #id(area) : area 변수의 주소값
print(type(area))

address of area 1764391461008
<class 'float'>

In [15]:
area.is_float

AttributeError: 'float' object has no attribute 'is_float'

In [16]:
area = 5.5

In [17]:
print("address of area",id(area)) #id(area) : area 변수의 주소값
print(type(area))

address of area 1764392347536
<class 'float'>

In [18]:
area = 10

In [19]:
print("address of area",id(area)) #id(area) : area 변수의 주소값
print(type(area))

address of area 1764310188560
<class 'int'>

In [20]:
area.is_integer()

AttributeError: 'int' object has no attribute 'is_integer'

In [21]:
area="python"
print("address of area",id(area)) #id(area) : area 변수의 주소값
print(type(area))

address of area 1764353612528
<class 'str'>

## 1.2 변수이름 규칙
-문자로 시작(숫자시작불가)
-문자, 숫자, _로 변수명 작성
-함수명은 변수이름으로 가능하나 피한다. 써야한다면 int_ 식으로 underbar 를 활용한다
-파이썬 예약어(for, ..)는 변수이름 사용 불가
-한글변수는 꼭 필요시에만 이용

In [22]:
이름="홍길동"
print("이름")

이름

In [23]:
print(이름) # 변수를 한글로 하는건 피하는 것이 좋다, 또한 대문자로 시작한 변수도 피하는것이 좋다

홍길동

In [24]:
member_name = "홍길동"
memberName = "홍길동"

In [26]:
# 파이썬에서의 숫자 : 정수, 실수, 복소수
i = 3 + 3j
type(i)

complex

In [30]:
isinstance(i,complex)# i 변수가 complex 인지 여부

True

## 1.3 도움말

In [31]:
help(print) # 빠져나올려면 q / esc 를 눌러서 결과 접기/펴기

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [33]:
# 도움말 기능 : shift + tab 키

In [36]:
def add(x, y):
    '''
    매개변수 2개를 받아 두자리 숫자로 만들어요
    x=10의 자리수가 됨
    y=1의 자리수가 됨
    사용법 : add(2,3)
    '''
    return x*10 + y

In [37]:
add(2,3)

23

In [38]:
def add(x, y=0):
    return x*10+y

In [39]:
add(2)

20

In [40]:
a=add
a(2,3)

23

## 1.4 다중 변수 할당

In [41]:
a= 10
b=20

In [42]:
a,b = 10, 20
print(a, b)

10 20

In [43]:
a, b= b, a+b
print(a, b)
# 다중변수 할당시 순차적 할당이 아니고, 일괄 동시 할당

20 30

# 2절. 화면입출력(i/o)

In [45]:
# input() : 사용자로부터 값을 입력받기 위한 함수, 문자열로 입력
first=input("first number")
first

first number5

'5'

In [46]:
second=input("second number")
print(second)

second number2
2

In [47]:
sum= first + second

In [48]:
print(sum)

52

In [49]:
sum = int(first)+int(second)
print(sum) # input 함수는 문자열로만 받는다

7

In [50]:
first = int(input("first number")) # 처움부터 수로 바꾸는 방법

first number8

In [51]:
second = int(input("second number"))

second number2

In [52]:
sum= first + second
print(sum)

10

In [56]:
print('합',sum, sep='=', end='')
print('합',sum, sep='~', end='')
print('합',sum, sep='is', end='')

합=10합~10합is10

In [61]:
print("hi" "world")

hiworld

In [59]:
print("hi","world",sep=",")

hi,world

In [63]:
import sys
print("hi","world",sep=",",file=sys.stdout)

hi,world

# 3절. 기본자료형
- 자료형에 따라 값의 크기와 저장방식이 달라진
- 숫자 : int, float
- 문자 : str
- 논리 : bool(True/False) # 이 True 와 False 는 대문자로 시작해야 한다
## 3.1 숫자형

In [64]:
import sys
sys.maxsize # 정수의 최대값 2의 63승-1

9223372036854775807

In [65]:
i = sys.maxsize + 1000

In [68]:
print(i)
print(type(i))

9223372036854776807
<class 'int'>

In [70]:
f= 4/2 # 정수/정수는 무조건 실수
f

2.0

In [72]:
# 자바처럼 정수/정수의 결과를 정수로
f=3//2 # 몫 연산자
f

1

In [73]:
c = 1j # 0 + i
print(c**2)

(-1+0j)

In [75]:
f = 1.12e12 # 1.12의 10의 12승
f

1120000000000.0

In [76]:
f=1.12e-12
f

1.12e-12

## 3.2문자형
쌍따옴표("-")나 홑따옴표('-')이용

In [79]:
name = "홍길동"짱"" 
name = '홍길동"짱"'
address = # 서울시 관악구 '신길동'
address ="서울시 관악구 '신길동'"
print(address)

SyntaxError: invalid syntax (3918022450.py, line 1)

In [80]:
address ="서울시 관악구 '신길동'"
print(address)

서울시 관악구 '신길동'

In [81]:
name = "홍길동'짱'"
print(name)

홍길동'짱'

In [82]:
name = '홍길동"짱"'
name

'홍길동"짱"'

In [83]:
# 문자형 변수 여러줄
text = '''여러줄 짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많음'''
print(text)

여러줄 짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많음

### ※ 문자열 연산

In [84]:
'''
   여러 줄 주석 용도
   2025.04.08 문자열 연산 소스 by 아무개
'''
name1="홍길동"
name2="동해 번쩍 서해 번쩍"
print(name1+name2)

홍길동동해 번쩍 서해 번쩍

In [85]:
print(name1*3) # 문자열을 곱하면 반복

홍길동홍길동홍길동

### ※ RAW 데이터 
-용도 : 정규표현식 이용, 디렉터리 경로 표현시 이용

In [2]:
print('hi\nworld')

hi
world

In [1]:
print(r'hi\nworld') # 줄 바꾸는거 해석 x r (raw)를 넣어서 그대로

hi\nworld

In [92]:
print('hi\\nworld')

hi\nworld

정규표현식
```
1. 참조 : 위키백과
2. 간략한 문법 :
      \d (숫자와 매치,[0-9]와 동일
      \D (숫자가 아닌것)
      \w (영문자나 숫자, [a-zA-Z0_9]
      \W (영문자나 숫자가 아닌 문자)
      . (문자)
      \. (.의미)
      \- (-의미)
      {2, 4} (2~4번 반복)
      {4}    (4번 반복)
      {2,}   (2번 이상 반복)
      +      (1번 이상 반복)
      *      (0번 이상 반복)
      ?   (0번이나 1번 반복)
3. 정규표현식 연습장(https://regexr.com/)
   ex)1. 전화번호 : 010-9999-9999-9999       02-7777-8888       01078789898      02)456-1234        010 4567 7894
                    010.6547.4569
       
      정규표현식 :  [0-9]{2,3}[\-) .]?[0-9]{3,4}[\- .]?[0-9]{4}
   
   ex)2. 이메일 : abc12@naver.com   /   abc456@0to7.co.kr
       정규표현식 : \w{3,}@[a-zA-Z0-9가-힣]+(\.[a-zA-Z]+){1,2}
```

In [2]:
import re
data = "홍길동인데 전번이 041-888-8888, \
010 9999 9999 동해번쩍 서해번쩍 ㅋㅋ ㅠㅠ \
오늘 날씨는 엄청 좋아요"
print(data)

홍길동인데 전번이 041-888-8888, 010 9999 9999 동해번쩍 서해번쩍 ㅋㅋ ㅠㅠ 오늘 날씨는 엄청 좋아요

In [3]:
tel_pattern = r"[0-9]{2,3}[\-) .]?[0-9]{3,4}[\- .]?[0-9]{4}"

In [4]:
# 해당 패턴을 다 찾아줌. 없으면 []반환
tels = re.findall(tel_pattern, data) 
tels

['041-888-8888', '010 9999 9999']

In [22]:
# search() : 정규표현식 패턴과 일치하는 처음단어만 찾음
pattern = "([\d]{2,3})-([\d]{3,4})-([\d]{4})"
firstTel = re.search(pattern, data)
firstTel

In [23]:
data[10:22] # 문자 슬라이싱

'041-888-8888'

In [24]:
print('전화번호 전체 :', firstTel.group(0))
print('국번:' ,firstTel.group(1))
print('중간번호 :', firstTel.group(2))
print('끝번호 :', firstTel.group(3))

전화번호 전체 : 041-888-8888
국번: 041
중간번호 : 888
끝번호 : 8888

In [25]:
re.sub(r'[^가-힣0-9\s]','', data) # 특수문자, 자음, 모음 없애기 # 여기서\s 는 스페이스를 뜻한다

'홍길동인데 전번이 0418888888 010 9999 9999 동해번쩍 서해번쩍   오늘 날씨는 엄청 좋아요'

In [26]:
#파일 경로에서는 반드시 r 을 사용하거나 \\
file_path = r"C:\Ai_x\source\01_python\test.txt"
file_path = "C:\\Ai_x\source\01_python\\test.txt"
file_path = "C:/Ai_x/source/01_python/test.txt"

In [27]:
file_stream = open(file_path, 'w')
print("hello", "world", sep="~") # 콘솔 출력
print("hello", "world", sep="~", file=file_stream) # 파일 출력
file_stream.close() # close를 하지 않으면 파일저장 안됨

hello~world

### ※ 문자열 슬라이싱

In [28]:
str_ = '0123456789'
str_

'0123456789'

In [29]:
# 문자 인덱싱
str_[0], str_[2], str_[-1], str_[-3]
# 없는 인덱싱은 에러를 발생시킨다

('0', '2', '9', '7')

In [30]:
print(str_, str_[3])

0123456789 3

In [31]:
'''
문자변수[from:stop] : from 부터 stop 앞까지 추출함
문자변수[from:stop:step] : from 부터 stop 앞 까지 step 씩 추출함
    step 생략시 1
    from 생략시 처음부터
    stop 생략시 끝까지
'''

'\n문자변수[from:stop]\n'

In [32]:
str_[0:5]

'01234'

In [33]:
str_[0:8:2] # 0부터 7 까지 2번씩 띄어서 가지고 옴

'0246'

In [34]:
str_[-5:-1] # -5번째부터 -1번째 앞까지

'5678'

In [35]:
str_[-4:] # -4째 부터 끝까지

'6789'

In [36]:
str_[-4:20] # 슬라이싱시 인덱스 범위를 벗어나면 끝까지를 의미

'6789'

In [38]:
str_[9:0:-1]

'987654321'

In [52]:
# 첫문자 ~6번째 인덱스 까지 추출
print(str_[0:7])
# 5번째 인덱스 부터 끝까지 추출
print(str_[5:11])
# str_를 거꾸로 출력
print(str_[::-1])
print(str_[-1::-1])

0123456
56789
9876543210
9876543210

## 3.3 논리형(True/False)

In [53]:
a = True
print(a) # a : 매개변수 = 인자
print(type(a)) # a 변수의 타입

True
<class 'bool'>

In [54]:
print(isinstance(a, bool)) # isinstance(변수, 타입) : 변수가 해당 타입인지 여부

True

In [56]:
int(True), int(False)

(1, 0)

In [58]:
# False로 간주되는것 : 0, ""(빈스트링), none, [], (), {}
# Flase외의 값은 다 True " "

In [66]:
i = 10
if i > 5:
    print("Ture")
else :
    print("Flase")

TypeError: '>' not supported between instances of 'list' and 'int'

In [67]:
if []:
    print("True")
else :
    print("False")

False

## 3.4 자료형 확인 및 형변환 함수
-type(변수)
-isinstance(변수, 타입)
-int() :정수형으로 변환
-float() : 실수형으로 변환
-str() : 문자형으로 변환
-bool() : 논리형으로 변환

In [91]:
int("123"), int(123.9), int(True), int("10  ")

(123, 123, 1, 10)

In [92]:
float("123"), float(123.5), float(True), float("  123.5  ")

(123.0, 123.5, 1.0, 123.5)

In [93]:
#에러가 발생하는 것들
#int("123.5"), 
#int(' ')
#int('')
#int("1,000")

In [90]:
#float() 에러나는 것들
#float("1,000.0")
#float("")
#float(" ")

123.5

In [95]:
str(10), str(10.5), str(True), str(1.12e12)

('10', '10.5', 'True', '1120000000000.0')

In [98]:
bool(""), bool(0), bool(0.0), bool(()) bool({}), bool(None)

SyntaxError: invalid syntax (2293483808.py, line 1)

In [99]:
bool(" ")

True

파이썬 기본 자료형(정리)
1. 숫자 - int, float, complex
2. 문자 - str, 문자슬라싱, raw데이터(정규표현식, 파일경로)
3. 논리 - False로 판별되는 경우

# 4절. 포멧팅
-포멧팅이란, 출력할 문자, 숫자, 날짜 데이터의 형식을 지성하는 것
-변수와 텍스트르 결합해서 보기 좋은 형식의 새로운 텍스트를 만들 수 있음

## 4.1 문자열에 형식 지정

In [101]:
name= "홍길동"
age = 30
print(name, '님의 나이는', age, '살입니다', sep='')
print(f"{name}님의 나이는 {age}살입니다")

홍길동님의 나이는30살입니다
홍길동님의 나이는 30살입니다

In [105]:
print("{}님의 나이는 {:3d}살입니다".format(name, age))

홍길동님의 나이는  30살입니다

# 4.2 format() 문법

"{[인덱스]:[공백대체문자][자릿수][타입]}".format(변수)
    # 인덱스 : format함수 안의 매개변수의 순서
    # 정렬방식 : <(왼쪽정렬), >(오른쪽정렬), ^(중앙정렬)
    # 정수자릿수 :  출력될 자릿수. 변수 내용보다 자근 자릿수가 지정되면 자릿수 무시
    # 실수자리수 : 출력될자릿수.소수점이하출력자릿수f
    # 문자자릿수 : 전체확보될자릿수[.변수중 출력할자릿수]s
    # 타입 : d(10진수 정수), b(2진수), x(16진수), f (실수), s(문자)
    # 공백대체문자를 쓸 경우 정렬방식을 반드시 기입해야 함

In [110]:
name=input("name?>")
age =int(input("age>"))
print("{}살 {}님 반갑습니다".format(age, name))
print("{1:*^4d}살 {0:_>10}님 반갑습니다".format(name,age))

name?>sunwoo
age>100
100살 sunwoo님 반갑습니다
100*살 ____sunwoo님 반갑습니다

In [117]:
# 숫자의 경우 : 오른쪽정렬(기본값)
# 문자의 경우 : 왼쪽정렬(기본값)
# 변수보다 작은 자리수를 지정하면 자릿수가 무시되고 다 출력(정수 자리수)
i = 12345
s = "Hello"
print("[{1}], [{1:10}], [{1:3}]". format(i,i,i))
print("[{0}], [{0:10}], [{0:3}]". format(s))

[12345], [     12345], [12345]
[Hello], [Hello     ], [Hello]

In [131]:
# 전체자리수.표현될자리수
# 실수 : 전체자리수.소수점이하 표현될 자리수
f = 2.758
s = "Hello"
print("f=[{:5.2f}]".format(f))  # 실수는 f 를 적어주어야 한다
print("s=[{:5.3}]".format(s))   # 문자는 s 를 빼도 가능하다

f=[ 2.76]
s=[Hel  ]

In [132]:
f = 2.758
s = "Hello"
print("f=[{:$>5.2f}]".format(f))  # 공백대처 문자를 사용하기 위해서는 공백문자를 넣고 정렬을 해야 한다 
print("s=[{:_<5.3}]".format(s))

f=[$2.76]
s=[Hel__]

In [148]:
# + : 부호를 출력해라
a, b = 123, -123
print("[{:5}], [{:5}]". format(a, b))
print("[{:+5}], [{:+5}]". format(a, b))
print("[{:=+5}], [{:=+5}]". format(a, b)) # =를 넣으면 부호가 맨 앞으로 이동한다

[  123], [ -123]
[ +123], [ -123]
[+ 123], [- 123]

In [159]:
#
f=2.785
print("[{:10}]".format(f))
print("[{:+10.2}]".format(f))
print("[{:+10.2f}]".format(f))
print("[{:#>+10.2f}]".format(f))

[     2.785]
[      +2.8]
[     +2.79]
[#####+2.79]

In [164]:
sign = '+'
width = 10
precision = 3
print("[{:{}{}f}]".format(f,
                          sign,
                          width,
                          precision))

[ +2.785000]

In [169]:
a = 15
print("10진수 a=[{:5d}]".format(a))
print("16진수 a=[{:5x}]".format(a))
print("2진수 a=[{:5b}]".format(a))

10진수 a=[   15]
16진수 a=[    f]
2진수 a=[ 1111]

## 4.3 날짜출력

In [178]:
import re
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2025, 4, 9, 17, 45, 22, 905638)

In [184]:
print("{}".format(now))

2025-04-09 17:45:22.905638

In [186]:
print(now.strftime("%Y년%m월%d일 %H시 %M분 %S초"))

2025년04월09일 17시 45분 22초