In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch05 함수</font>
- 사용할 코드를 묶어 놓고 그것의 이름을 붙인 것
- 오버로딩(함수 이름이 같고, 매개변수의 타입이나 갯수로 다른 함수를 허용하는 것) 불가
- 함수 정의
```
def 함수명([매개변수1, 매개변수n]):
    명령어1
    명령어2
    명령어n
```
# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [4]:
# 함수 정의
def my_message(x, msg):  # msg를 x 번 출력하는 함수
    for i in range(x):
        print('msg')

In [5]:
# 함수 사용   위에서 매게변수 없이 설정을 하였기에 ()안에 넣으면 오류가 나오게 된다
my_message(5, "Hello")

msg
msg
msg
msg
msg

In [6]:
my_msg = my_message
my_msg(3, 'hello')

msg
msg
msg

In [7]:
type(my_msg), type(my_message)

(function, function)

In [8]:
my_message(5, "Hello")

msg
msg
msg
msg
msg

In [9]:
print('hello') #파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)
print = 5
del print
print('hello')

hello
hello

In [10]:
my_message(2, 'hello')
my_message

msg
msg

In [11]:
my_message = 5

In [12]:
def my_message(a, b):
    pass

In [13]:
my_message(2, 'hello')

In [14]:
del my_message

In [19]:
def my_hello():
    print('hello, python')
    print('hello,world')
def my_hello(cnt):
    for i in range(cnt):
        print('hello, python')
        print('hello,world')

In [20]:
# 함수사용 = 함수호출
my_hello(2)

hello, python
hello,world
hello, python
hello,world

In [21]:
my_hello

In [22]:
__name__

'__main__'

In [25]:
if __name__ == '__main__':
    my_hello(2)

hello, python
hello,world
hello, python
hello,world

In [1]:
import ch05
# ch05모듈을 load

In [2]:
ch05.my_hello(2)

hello, python
hello,world
hello, python
hello,world

In [5]:
from ch05 import my_hello #ch05 모듈안의 my_hello load

In [7]:
my_hello(2)

hello, python
hello,world
hello, python
hello,world

## 1.2 docstring

In [13]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    줙보다 많은 기능(shift + tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [14]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    줙보다 많은 기능(shift + tab으로 독스트링을 볼 수 있음)

In [15]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b =b, a+b
    print() #개행

In [16]:
fibonacci(10)

0 1 1 2 3 5 8

In [18]:
if True:
    x=10

In [19]:
x

10

## 1.3 지역변수(local var) 와 전역변수(global var)

In [20]:
global_var = 100 # 전역변수
def func1():
    print(global_var)
func1()
print(global_var)

100
100

In [24]:
def func2():
    local_var = 200 # 지역변수
    print(local_var)
func2()
print(local_var)

200

NameError: name 'local_var' is not defined

In [27]:
g_var = 100 # 전역변수
def func3():
    g_var = 200
    print(g_var)
func3()
print(g_var)

200
100

In [33]:
#렉시컬 특성
g_var = 100 # 전역변수
def func4():
    print(g_var)
    g_var = 200    # 이와 같은 상황은 바뀐 함수안의 변수를 인식한다  
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [34]:
#렉시컬 특성
g_var = 100 # 전역변수
def func4():
    global g_var # func4 함수내의 g_var 는 전역변수를 쓴다
    print(g_var)
    g_var = 200    # 전역변수  
func4()
print(g_var)

100
200

## 1.4 값에의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일때

In [35]:
foo = 'a'
id(foo)

1889457039152

In [51]:
def func1(f): # 매개변수는 지역변수
    print(f, id(f))
    f = f*3
    print(f, id(f))
func1(foo)

a 1889457039152
aaa 1889571205488

In [55]:
print(foo, id(foo))

a 1889457039152

## 1.5참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 등의 객체일 경우

In [57]:
L = [1, 2, 3]
id(L)

1889578934144

In [58]:
def func2(f): # 매개변수는 지역변수
    print(f, id(f))
    f.append(4)
    print(f, id(f))
func2(L)

[1, 2, 3] 1889578934144
[1, 2, 3, 4] 1889578934144

In [60]:
print(L, id(L))

[1, 2, 3, 4] 1889578934144

# 2절. 함수의 실행결과를 반환하는 return

In [68]:
def add(a):
    pass

In [71]:
print(add(10))   # 위에 def 를 통해서 함수를 만들어 주면 이후 return 을 통해서 실행시킨다.

None

In [76]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n=10 이면 0 1 1 2 3 5 8
    '''
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b =b, a+b
    print() #개행
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10 이면 [0 1 1 2 3 5 8]을 return
    '''
    result=[]   # return 을 할때는 결과값을 넣어주어야 한다
    a, b = 0, 1
    while a<n:
        result.append(a)
        a, b = b, a+b
    return result

In [77]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [78]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [82]:
def swap(a, b):
    '매개변수 순서를 바꿔서 return'
    return b, a

In [83]:
x, y = 5, 10
print(x, y)
x, y = swap(x, y)
print("실행 후", x, y)

5 10
실행 후 10 5

# 3절. 함수의 매개변수 
## 3.1 기본값을 갖는 매개변수

In [89]:
def make_url(ip, port=80):   # 순서가 중요해서 순서인수 > 기본값을갖는 매개변수
    return 'http://{}:{}.'.format(ip, port)

In [91]:
print(make_url('www.naver.com'))
print(make_url('localhost', 8091))
print(make_url(port = 8090, ip = 'localhost'))

http://www.naver.com:80.
http://localhost:8091.
http://localhost:8090.

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 떄
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 떄

In [112]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg=i):
    print('arg = ',arg)

In [113]:
i=50
func2()

arg =  5

In [123]:
list_=[]
# 기본값을 갖는 변수가 객체일때(데이터 구조) 일때 : 
def func3(data, L=list_):
    'data를 L에 append'
    L.append(data)
    return L

In [124]:
print(func3(10)) # list_ 가 수정 : [10]

[10]

In [125]:
print(func3(20))

[10, 20]

In [126]:
def func4(data, L=None):
    if L==None:
        L=[]
        L.append(data)
        return L

In [127]:
print(func4(10))
print(func4(10, list_))

[10]
None

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [ ]:
# 파이썬은 오버로딩(함수의 중복을)지원하지 않음

In [128]:
def add(a, b):
    return a+b
def add(a, b):
    return a+b+c

In [134]:
# *args: 매개변수들을 하나의 듀플 변수 args로 전달받음
def add(*args):
     # print(args)
    result_tot = 0 #누적변수
    for data in args:
        result_tot += data
    return result_tot

In [136]:
print(add(1))
print(add(1,2,30))

1
33

In [144]:
subject = ('python', 'oracle', 'Dl')
'/'.join(subject)

'python/oracle/Dl'

In [145]:
def concat(*subject,sep):
    return sep.join(subject)

In [146]:
concat('python','oracle','webstandard','java','/')

SyntaxError: invalid syntax (1193595371.py, line 1)

In [148]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('python','oracle','webstandard','java',sep='/')

'python/oracle/webstandard/java'

In [164]:
# 해결책2 : 기본값을 갖는 키워드인수 (sep=)사용
def concat(*subject, sep='~'):
    return sep.join(subject)

In [165]:
concat('python','oracle','webstandard','java',sep='/')

'python/oracle/webstandard/java'

In [157]:
# 해결책 3 : sep을 순서인수로 앞에 선언
def concat(sep, *subject):
    return sep.join(subject)

In [162]:
concat('/','python','oracle', 'DL')

'python/oracle/DL'

## 3.4 딕셔너리 매개변수
- 여러 개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [170]:
def func5(**kwargs): 
    print(kwargs)
    print(type(kwargs))
    print('이름 :', kwargs.get('name', '대마왕'))
    print('나이 :', kwargs.get('age', 30))
    print('주소 :', kwargs.get('address', '서울'))

In [171]:
func5(name='홍길동', age=30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 : 홍길동
나이 : 30
주소 : 신림동

In [173]:
func5(name='김길동')

{'name': '김길동'}
<class 'dict'>
이름 : 김길동
나이 : 30
주소 : 서울

## 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드 인수(매개변수이름반드시명시)> 딕셔너리매개변수(**)

In [176]:
def func6(a, b, *c, **d):
    print('순서인수 a:', a)
    print('순서인수 b:', b)
    print('듀플인수 c:', c)
    print('딕셔너리 인수 d:', d)

In [177]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name='홍길동', age=30, address='서울')

순서인수 a: 10
순서인수 b: 20
듀플인수 c: (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d: {'name': '홍길동', 'age': 30, 'address': '서울'}

In [178]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a:', a)
    print('순서인수 b:', b)
    print('듀플인수 c:', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d:', d)
    print('딕셔너리인수 e:', e)

In [179]:
func7(10, 20, 1, 2, 3, d='딴거', name='홍길동', fontsize=12, fontfamily='consola')

순서인수 a: 10
순서인수 b: 20
듀플인수 c: (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d: 딴거
딕셔너리인수 e: {'name': '홍길동', 'fontsize': 12, 'fontfamily': 'consola'}

In [180]:
func7(10, 20, 1, 2, 3, '딴거', name='홍길동', fontsize=12, fontfamily='consola')

순서인수 a: 10
순서인수 b: 20
듀플인수 c: (1, 2, 3, '딴거')
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d: 기본값
딕셔너리인수 e: {'name': '홍길동', 'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개면수 앞에 *붙임
- 패킹 : 함수 정의시 매개변수 앞에 *붙임(튜플매개변수)

In [184]:
def add(*args):
    print(args)
    tot=0
    for num in args:
        tot += num
    return tot

In [185]:
add(1,2,3,4)

(1, 2, 3, 4)

10

In [187]:
numbers = [1,2,3,4]
add(*numbers)   # *을 넣음으로서 언패킹이 된다

(1, 2, 3, 4)

10

In [188]:
numbers = (1,2,3,4)
add(*numbers)  # 언패킹

(1, 2, 3, 4)

10

### 딕셔너리인수 언패킹
- 딕셔너리 언패킹 : 함수 호출시 매개변수 앞에 ** 붙임
- 딕셔너리 패킹 : 함수 정의시 매개변수 앞에 ** 붙임

In [201]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f"{key}:{item}")

In [202]:
func5(name = '홍길동', age = 0, address = '신림')

<class 'dict'>
name:홍길동
age:0
address:신림

In [203]:
customInfo = {'name':'홍길동', 'age':30, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [204]:
def add(a, b):
    return a+b
add(3,4)

7

In [210]:
add2 = lambda a, b : a+b   # 람다식 문법 
add2(3, 4)

7

In [212]:
type(add2), type(add)

(function, function)

In [213]:
(lambda a, b : a+b)(3, 4)   # 람다식 문법

7

In [219]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num):
    if num%2==1:
        result = '홀수'
    else:
        result = '짝수'
    return result

In [220]:
# ex1. 람다 형식
def ex1(num):
    return = "홀수" if num%2==0 else "짝수"  # 이런식으로 바꿀수 있어서 람다를 사용 할 수 있다

'홀수'

In [221]:
#ex1.
ex1 = lambda num : "홀수" if num%2 else "짝수"

In [223]:
ex1(5)

'홀수'

In [237]:
# ex2. 두 매개변수의 차이를 return
def ex2(a,b):
    if (a>=b) and (a,b>=0):
        result = a-b
    else:
        result = "다시입력하시오"
    return result

In [239]:
ex2(7,5)

2

In [240]:
ex2 = lambda a,b :  a-b if (a>=b) and (a,b>=0) else '다시입력하시오'

In [243]:
ex2(4,7)

'다시입력하시오'

In [244]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'
def ex3(num):
    if num>=0:
        result = "return"
    else:
        result = "negative"
    return result

In [247]:
ex3 = lambda num : 'return' if num>=0 else 'negative'

In [248]:
ex3(7)

'return'

In [261]:
# ex4. 점수를 입력받아 점수가 80점 이상이면 A 팀, 60점 이상은 B, 60점 미만은 재시험 그외는 유요하지 않음을 출력
# ex4 = lambda num : "A" if num 80>= elif num 80>=num>=60 "B" else "c"   # 나의 오답
ex4 = lambda num : "A" if 80<=num<=100 else \
                    "B" if 60<=num<80 else \
                   "재시험" if 0<=num<60 else\
                   "유요하지 않음"
ex4(120), ex4(70)

('유요하지 않음', 'B')

In [256]:
# ex5 safe_index를 란다식으로
def safe_index(lst, data):
    if data in lst:
        return lst.index(data)
    else:
        return -1

In [263]:
# ex5 = lambda num : -1 if num not in lst else lst.index()
ex5 = lambda lst, data : lst.index(data) if data in list else -1

## 4.2 함수의 매개변수에 람다식 이용

## (1)map

In [317]:
def map_template(func, L=[]):
    '''L의 모든 요쇼를 func() 함수를 적용시켜 return
    [func(l) for l in L]
    '''
    restlt : []
    for l in L:
        result.append(func(l))
                    #  result = [func(l) for l in L]
#    return [func(l) for l in L]

In [318]:
# 리스트 데이터를 가공하는 방법 1. map
list_data = [1,2,3,4,5,6,7,8,9,10]
map_template(lambda x : x*2, list_data)
# def x_2(x):
#     return x*2
# map_template(x_2, list_data)

NameError: name 'result' is not defined

In [ ]:
# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션
[l*2 for l in list_data]

In [6]:
# 리스트를 데이터를 가공 방법 3. map(): 파이썬 내장함수
list(map(lambda x : x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [7]:
for item in map(lambda x : x*2, list_data):
    print(item, end='')

2468101214161820

In [9]:
'''
예1. prices = [5000,800,1000,6000]로 바꾸시오
'''
prices = ['5,000', '800', '1000', '6,000']

In [12]:
def func(x):
    return int(x.replace(',',''))  #, 를 바꾸어줌
func("5,000")

5000

In [14]:
list(map(lambda x : int(x.replace(',','')), prices))

[5000, 800, 1000, 6000]

In [21]:
'''
예2. member1=[{'name':'홍길동', 'birth':'2000-01-01'},
              {'name':'신길동', 'birth':'1998-12-31'},]를
     member2=[{'name':'홍길동', 'year':'2000, 'month':1, 'day':1},
              {'name':'신길동', 'year':'1998, 'month':12, 'day':31},]를 바꿉니다
'''

"\n예2. member1=[{'name':'홍길동', 'birth':'2000-01-01'},\n              {'name':'신길동', 'birth':'1998-12-31'},]를\n     member2=[{'name':'홍길동', 'year':'2000, 'month':1, 'day':1},\n              {'name':'신길동', 'year':'1998, 'month':12, 'day':31},]를 바꿉니다\n"

In [22]:
member1=[{'name':'홍길동', 'birth':'2000-01-01'},
        {'name':'신길동', 'birth':'1998-12-31'},]

In [27]:
#'2000-01-01' => {'year':'2000, 'month':1, 'day':1}
def split_data(date):
    split_data = date.split('-')
    print(split_data[0], split_data[1], split_data[2])
    return {'year': int(split_data[0]),
            'month': int(split_data[1]),
            'day': int(split_data[2])
           }

In [28]:
split_data("2000-01-01")

2000 01 01

{'year': 2000, 'month': 1, 'day': 1}

In [32]:
def member_func(member):  #  {'name':'신길동', 'birth':'1998-12-31'}을
    "{'name':'신길동', 'year':'1998, 'month':12, 'day':31}식으로 리턴" 
    return{
        'name' : member.get('name'),
        'year' : int(member['birth'].split('-')[0]),
        'month' : int(member['birth'].split('-')[1]),
        'day' : int(member['birth'].split('-')[2]),
    }
member_func(member1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [144]:
member2 = list(map(lambda member : {
                'name' : member.get('name'),
                'year' : int(member['birth'].split('-')[0]),
                'month' : int(member['birth'].split('-')[1]),
                'day' : int(member['birth'].split('-')[2]),
                },
       member1  
       )
    )

In [ ]:
'예3. members를 member1로 바꿉니다'

In [63]:
# {'year': 2000, 'month': 1, 'day': 1} 를 '2000-01-01' 를 return 하는 함수

In [74]:
def join_date(data):
    print([data.get('year'), data.get('month'), data.get('day')])  # 숫자 리스트
    year = str(data.get('year'))
    month = data.get('month')
    if month < 10:
        month = '0'+ str(month)
    else:
        month = str(month)
    day = data.get('day')
    if day < 10:
        day = '0'+ str(day)
    else:
        day = str(day)
    return '-'.join([year, month, day])

In [150]:
def join_date(data):
    print("{}-{:02}-{:02}".format(data.get('year'), 
                                data.get('month'), 
                                  data.get('day')))

In [82]:
join_date({'year': 2000, 'month': 1, 'day': 1})

2000-01-01

In [84]:
def join_date(data):
    print("{year}-{month:02}-{day:02}".format(
                                year=data.get('year'), 
                                month=data.get('month'), 
                                day=data.get('day')))

In [90]:
def join_date(data):   # 가장 쉽게 풀어쓰는 것
    return"{year}-{month:02}-{day:02}".format(**data)

In [93]:
join_date({'year': 2000, 'month': 1, 'day': 1})

'2000-01-01'

In [100]:
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [101]:
# {'name':'홍길동', 'year':'2000, 'month':1, 'day':1}를
# {'name':'홍길동', 'birth':'2000-01-01'} 로 가공

list(map(lambda member : {
                            'name' : member.get('name'),
                            'birth' : "{year}-{month:02}-{day:02}".format(**member)
                            },
          member2
))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

### (2) filter
- map 처리 : [1,2,3,4,5] 를 [2,4,6,8,10] 모든 데이터를 가공
- filter : [1,2,3,4,5] 를 [2,4] 또는 [1,3,5] 와 같이 원하는 정보만을 추출
* cf. 리스트 컴프리헨션

In [124]:
def filter_template(func, L=[]):
    result = []
    for l in L:
        if func(l):
            result.append(l)
    return result

In [125]:
def evenchk(value):
    return value%2==0
evenchk(10), evenchk(9)

(True, False)

In [126]:
list_data=[1,2,3,4,5]
filter_template(lambda value : value%2==0, list_data)

[2, 4]

In [121]:
(lambda value : value%2==0)(2)

True

In [112]:
[data for data in list_data if data%2==0]

[2, 4]

## (3) sort

In [127]:
p = [9,2,7]
p.sort(reverse=True)
p

[9, 7, 2]

In [129]:
# 무조건 0번 item 기준으로 정렬
number2d = [[9,9], 
            [1,100],
            [10,1]]
number2d.sort(reverse=True)   #reverse=False : 오름차순 정리
number2d

[[10, 1], [9, 9], [1, 100]]

In [130]:
pairs=[(2, 'two'),(1, 'one'), (4, 'four'), (3,'three')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [131]:
# 1번째 item 기준으로 정렬(abc순)
pairs.sort(key=lambda pair : pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [132]:
number2d = [[9,9,9,9,9,9,], 
            [1,100],
            [10,1]]
number2d.sort(reverse=True)   #reverse=False : 오름차순 정리
number2d

[[10, 1], [9, 9, 9, 9, 9, 9], [1, 100]]

In [138]:
#리스트를 매개변수로 받아 합을 return
(lambda item : sum(item))([1,2,3])

6

In [139]:
# 합이 큰순으로 정렬
number2d.sort(key = lambda item : sum(item), reverse=True)
number2d

[[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]]

In [169]:
students = [
         {'name':'홍길동', 'score':90},
         {'name':'김길동', 'score':50},
         {'name':'윤길동', 'score':99},
         {'score' : 100}
]

In [172]:
# 이름순으로 정렬
students.sort(key=lambda data : data.get('name','가'))  # 제일 낮을때는 힣
students

[{'score': 100},
 {'name': '김길동', 'score': 50},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90}]

In [174]:
#점수 내림차수
students.sort(key=lambda item: item.get('score',0), reverse=True)
students

[{'score': 100},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'name': '김길동', 'score': 50}]

In [177]:
# 책제목순 정렬(ㄱㄴㄷ 순), 저자순 정렬(ㄱㄴㄷ), 가격순 정렬(오름차순)
book=[
    {'no': 1, 'title' : '강남아파트 인사이트', 'writer' : '오스틀', 'price':'25,200'},
    {'no': 2, 'title' : '단한번의 삶', 'writer' : '김영하', 'price':'18,200'},
    {'no': 3, 'title' : '흔한남매', 'writer' : '백난도', 'price':'19200'},
    {'no': 4, 'title' : '가격이 잘못', 'writer' : '홍길동', 'price':'-'},
    {'no': 5, 'title' : '가격이 숫자', 'writer' : '신길동', 'price':'900'},
    {'no': 6, 'title' : '가격이 없음', 'writer' : '김길동'},
]

In [179]:
book.sort(key=lambda item: item.get('writer'))
book

[{'no': 6, 'title': '가격이 없음', 'writer': '김길동'},
 {'no': 2, 'title': '단한번의 삶', 'writer': '김영하', 'price': '18,200'},
 {'no': 3, 'title': '흔한남매', 'writer': '백난도', 'price': '19,200'},
 {'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': '900'},
 {'no': 1, 'title': '강남아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'}]

In [180]:
book.sort(key=lambda item: item.get('title'))
book

[{'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': '900'},
 {'no': 6, 'title': '가격이 없음', 'writer': '김길동'},
 {'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 1, 'title': '강남아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 2, 'title': '단한번의 삶', 'writer': '김영하', 'price': '18,200'},
 {'no': 3, 'title': '흔한남매', 'writer': '백난도', 'price': '19,200'}]

In [197]:
#book.sort(key=lambda item: item.get('price'))   이렇게 하면 문자랑 숫자랑 비교하는 것 에러
#book

In [217]:
# 14,000 -> 14000 / "2000" -> 2000 / 800 -> 800 / '-' -> 0 이렇게 변환해야 한다

def parse_int(price):
    # print(type(price))
    if isinstance(price, str) and price.replace(',', '').isdigit():   
        return int(price.replace(',', ''))          # , 가 들어간 것을 그냥 지운다     
    elif isinstance(price, int):                    # 이제 들여쓰기 OK
        return price
    else:
        return 0

In [218]:
parse_int("8,000")

8000

In [233]:
# {'no': 6, 'title': '가격이 없음', 'writer': '김길동'} => 0return
# {'no': 3, 'title' : '흔한남매', 'writer' : '백난도', 'price':'19200'} =>19200
# {'no': 5, 'title' : '가격이 숫자', 'writer' : '신길동', 'price':'900'} =>900
def parse_int(book):
    if isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit():
        return int(book.get('price').replace(',',''))
    elif isinstance(book.get('price'), int):
        return book.get('price')
    else:
        return 0
    # 이 식은 dic 에서 가져온거라 .get() 을 사용함
parse_int(book[5])

19200

In [237]:
book=[
    {'no': 1, 'title' : '강남아파트 인사이트', 'writer' : '오스틀', 'price':'25,200'},
    {'no': 2, 'title' : '단한번의 삶', 'writer' : '김영하', 'price':'18,200'},
    {'no': 3, 'title' : '흔한남매', 'writer' : '백난도', 'price':'19200'},
    {'no': 4, 'title' : '가격이 잘못', 'writer' : '홍길동', 'price':'-'},
    {'no': 5, 'title' : '가격이 숫자', 'writer' : '신길동', 'price':'900'},
    {'no': 6, 'title' : '가격이 없음', 'writer' : '김길동'},
]
copy_book = book.copy()

In [236]:
copy_book.sort(key=lambda book : 
               int(book.get('price').replace(',',''))\
                if isinstance(book.get('price'), str) and\
                  book.get ('price').replace(',','').isdigit() else\
               book.get('price') if isinstance(book.get('price'), int) else\
               0, 
              )

In [239]:
copy_book

[{'no': 1, 'title': '강남아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 2, 'title': '단한번의 삶', 'writer': '김영하', 'price': '18,200'},
 {'no': 3, 'title': '흔한남매', 'writer': '백난도', 'price': '19200'},
 {'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': '900'},
 {'no': 6, 'title': '가격이 없음', 'writer': '김길동'}]

## 4.3 return문에 람다식 이용

In [248]:
# 함수를 return
def make_box(shape): #shape : [l] => len가 l인 list를 생성하는 함수 return, 
                    #        [r,c] => r행 c열인 2차원 list를 생성하는 함수 return
                    #        [d,r,c] => d면 r행 c열 3차원 list를 생성하는 함수 return
            def box(init_value):
                if len(shape)==1:
                    return[init_value]*shape[0]
                elif len(shape)==2:
                    return[[init_value]*shape[1]]*shape[0]
            return box

In [249]:
line_func = make_box([2,3])
line_func(3)

[[3, 3, 3], [3, 3, 3]]

In [250]:
line_func1 = make_box([10])
line_func1(3)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [252]:
def make_box(shape):
    if len(shape)==1:
        return lambda init_vlaue : [init_value]*shape[0]
    elif len(shape)==2:
        return lambda init_vlaue : [[init_vlaue]*shape[1]]*shape[0]

# 5절. 파이썬 내장함수
- import하지 않고 바로 사용 가능한 함수
- 키워드처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는것을 피한다.

In [255]:
 globals() #전역변수 리스트

{'__name__': '__main__',
 '__doc__': '\n예1. prices = [5000,800,1000,6000]로 바꾸시오\n',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:86% !important;}\ndiv.cell.code_cell.rendered{width:100%;}\ndiv.CodeMirror {font-family:Consolas; font-size:15pt;}\ndiv.output {font-size:15pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:15pt;}\ndiv.prompt {min-width:70px;\ndiv#toc-wrapper{padding-top:120px;}\ndiv.text_cell_render ul li{font-size:12pt;padding:5px;}\ntable.dataframe{font-size:15px;}\n</style>\n"""))',
  "def map_template(func, L=[]):\n    '''L의 모든 요쇼를 func() 함수를 적용시켜 return\n    [func(l) for l in L]\n    '''\n    restlt : []\n    for l in L:\n        result.append(func(1))\n    return restult",
  "def map_template(func, L=[]):\n    '''L의 모든 요쇼를 func() 함수를 적용시켜 return\n    [func(l) for l in L]\n    '''\n    restlt : []\n    for l in L:\n        result.append(func(l))\n                    #  result = [func(l) for l in L]\n#    return [func(l) for l in L]",
  'list_data = [1,2,3,4,5,6,7,8,9,10]\ndef x_2(x):\n    return x*2\nmap_template(x_2, list_data)',
  'list_data = [1,2,3,4,5,6,7,8,9,10]\nmap_template(lambda x : x*2, list_data)\n# def x_2(x):\n#     return x*2\n# map_template(x_2, list_data)',
  '# 리스트를 데이터를 가공 방법 3. map(): 파이썬 내장함수\nlist(map(lambda x : x*2, list_data))',
  "for item in map(lambda x : x*2, list_data):\n    print(item, end='')",
  "def func(x):\n    return int(x.replace(',',''))",
  "'''\n예1. prices = [5000,800,1000,6000]로 바꾸시오\n'''\nprices = ['5,000', '800', '1000', '6,000']",
  "def func(x):\n    return int(x.replace(',',''))",
  "def func(x):\n    return int(x.replace(',',''))  #, 를 바꾸어줌\nfunc(5,000)",
  'def func(x):\n    return int(x.replace(\',\',\'\'))  #, 를 바꾸어줌\nfunc("5,000")',
  "map(lambda x : int(x.replace(',','')), prices)",
  "list(map(lambda x : int(x.replace(',','')), prices))",
  "#'2000-01-01' => {'year':'2000, 'month':1, 'day':1}\ndef split_data(date):\n    split_data = date.split('-')\n    print(split_data[0], split_data[1], split_data[2])\n    return {'year': int(split_data[0])\n            'month': int(split_data[1])\n            'day': int(split_data[2])\n           }",
  "#'2000-01-01' => {'year':'2000, 'month':1, 'day':1}\ndef split_data(date):\n    split_data = date.split('-')\n    print(split_data[0], split_data[1], split_data[2])\n    return {'year': int(split_data[0]),\n            'month': int(split_data[1]),\n            'day': int(split_data[2])\n           }",
  'split_data("2000-01-01")',
  'def member_func(member):    {\'name\':\'신길동\', \'birth\':\'1998-12-31\'}을\n    "{\'name\':\'신길동\', \'year\':\'1998, \'month\':12, \'day\':31}식으로 리턴" \n    return{\n        \'name\' : member.get(\'name\'),\n        \'year\' : int(memeber[\'birth\'].split(\'-\')[0]),\n        \'month\' : int(member[\'birth\'].split(\'-\')[1]),\n        \'day\' : int(member[\'birth\'].split(\'-\')[2]),\n    }\n     ',
  'def member_func(member):  #  {\'name\':\'신길동\', \'birth\':\'1998-12-31\'}을\n    "{\'name\':\'신길동\', \'year\':\'1998, \'month\':12, \'day\':31}식으로 리턴" \n    return{\n        \'name\' : member.get(\'name\'),\n        \'year\' : int(memeber[\'birth\'].split(\'-\')[0]),\n        \'month\' : int(member[\'birth\'].split(\'-\')[1]),\n        \'day\' : int(member[\'birth\'].split(\'-\')[2]),\n    }\n     ',
  'def member_func(member):  #  {\'name\':\'신길동\', \'birth\':\'1998-12-31\'}을\n    "{\'name\':\'신길동\', \'year\':\'1998, \'month\':12, \'day\':31}식으로 리턴" \n    return{\n        \'name\' : member.get(\'name\'),\n        \'year\' : int(memeber[\'birth\'].split(\'-\')[0]),\n        \'month\' : int(member[\'birth\'].split(\'-\')[1]),\n        \'day\' : int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(member1[0])',
  "'''\n예2. member1=[{'name':'홍길동', 'birth':'2000-01-01'},\n              {'name':'신길동', 'birth':'1998-12-31'},]를\n     member2=[{'name':'홍길동', 'year':'2000, 'month':1, 'day':1},\n              {'name':'신길동', 'year':'1998, 'month':12, 'day':31},]를 바꿉니다\n'''",
  "member1=[{'name':'홍길동', 'birth':'2000-01-01'},\n        {'name':'신길동', 'birth':'1998-12-31'},]",
  "#'2000-01-01' => {'year':'2000, 'month':1, 'day':1}\ndef split_data(date):\n    split_data = date.split('-')\n    print(split_data[0], split_data[1], split_data[2])\n    return {'year': int(split_data[0]),\n            'month': int(split_data[1]),\n            'day': int(split_data[2])\n           }",
  'split_data("2000-01-01")',
  'def member_func(member):  #  {\'name\':\'신길동\', \'birth\':\'1998-12-31\'}을\n    "{\'name\':\'신길동\', \'year\':\'1998, \'month\':12, \'day\':31}식으로 리턴" \n    return{\n        \'name\' : member.get(\'name\'),\n        \'year\' : int(memeber[\'birth\'].split(\'-\')[0]),\n        \'month\' : int(member[\'birth\'].split(\'-\')[1]),\n        \'day\' : int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(member1[0])',
  'def member_func(member):  #  {\'name\':\'신길동\', \'birth\':\'1998-12-31\'}을\n    "{\'name\':\'신길동\', \'year\':\'1998, \'month\':12, \'day\':31}식으로 리턴" \n    return{\n        \'name\' : member.get(\'name\'),\n        \'year\' : int(memeber[\'birth\'].split(\'-\')[0]),\n        \'month\' : int(member[\'birth\'].split(\'-\')[1]),\n        \'day\' : int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(member2[0])',
  "#'2000-01-01' => {'year':'2000, 'month':1, 'day':1}\ndef split_data(date):\n    split_data = date.split('-')\n    print(split_data[0], split_data[1], split_data[2])\n    return {'year': int(split_data[0]),\n            'month': int(split_data[1]),\n            'day': int(split_data[2])\n           }",
  'split_data("2000-01-01")',
  'def member_func(member):  #  {\'name\':\'신길동\', \'birth\':\'1998-12-31\'}을\n    "{\'name\':\'신길동\', \'year\':\'1998, \'month\':12, \'day\':31}식으로 리턴" \n    return{\n        \'name\' : member.get(\'name\'),\n        \'year\' : int(memeber[\'birth\'].split(\'-\')[0]),\n        \'month\' : int(member[\'birth\'].split(\'-\')[1]),\n        \'day\' : int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(member1[0])',
  'def member_func(member):  #  {\'name\':\'신길동\', \'birth\':\'1998-12-31\'}을\n    "{\'name\':\'신길동\', \'year\':\'1998, \'month\':12, \'day\':31}식으로 리턴" \n    return{\n        \'name\' : member.get(\'name\'),\n        \'year\' : int(memeber[\'birth\'].split(\'-\')[0]),\n        \'month\' : int(member[\'birth\'].split(\'-\')[1]),\n        \'day\' : int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(member1[0])',
  "list(map(lambda member : {\n        'name' : member.get('name'),\n        'year' : int(memeber['birth'].split('-')[0]),\n        'month' : int(member['birth'].split('-')[1]),\n        'day' : int(member['birth'].split('-')[2]),\n          },\n       member1  \n       )\n    )    ",
  'def member_func(member):  #  {\'name\':\'신길동\', \'birth\':\'1998-12-31\'}을\n    "{\'name\':\'신길동\', \'year\':\'1998, \'month\':12, \'day\':31}식으로 리턴" \n    return{\n        \'name\' : member.get(\'name\'),\n        \'year\' : int(member[\'birth\'].split(\'-\')[0]),\n        \'month\' : int(member[\'birth\'].split(\'-\')[1]),\n        \'day\' : int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(member1[0])',
  "list(map(lambda member : {\n                'name' : member.get('name'),\n                'year' : int(member['birth'].split('-')[0]),\n                'month' : int(member['birth'].split('-')[1]),\n                'day' : int(member['birth'].split('-')[2]),\n          },\n       member1  \n       )\n    )    ",
  "list(map(lambda member : {\n                'name' : member.get('name'),\n                'year' : int(member['birth'].split('-')[0]),\n                'month' : int(member['birth'].split('-')[1]),\n                'day' : int(member['birth'].split('-')[2]),\n          },\n       member1  \n       )\n    )\nmember2",
  "list(map(lambda member : {\n                'name' : member.get('name'),\n                'year' : int(member['birth'].split('-')[0]),\n                'month' : int(member['birth'].split('-')[1]),\n                'day' : int(member['birth'].split('-')[2]),\n                },\n       member1  \n       )\n    )",
  'def join_date(data):\n    print(data)',
  "join_data({'year': 2000, 'month': 1, 'day': 1})",
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  "join_date({'year': 2000, 'month': 1, 'day': 1})\njoin_data[0]",
  "join_date({'year': 2000, 'month': 1, 'day': 1})\nlist(join_data[0])",
  "join_date({'year': 2000, 'month': 1, 'day': 1})\nlist(join_date[0])",
  "join_date({'year': 2000, 'month': 1, 'day': 1})\njoin_date[0]",
  "join_date({'year': 2000, 'month': 1, 'day': 1})\nvalue=join_date.vlaue()",
  'def join_date(data):\n    print(data)',
  "join_date({'year': 2000, 'month': 1, 'day': 1})\nvalue=join_date.vlaue()",
  "join_date({'year': 2000, 'month': 1, 'day': 1})\nvalue=join_date.value()",
  "join_date({'year': 2000, 'month': 1, 'day': 1})\nvalue=join_date.value()\nprint(value)",
  "join_date({'year': 2000, 'month': 1, 'day': 1})\nprint(join_data)",
  "def join_date(data):\n    print(data.get('year'), data.get('month'), data.get('day'))",
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  "def join_date(data):\n    print([data.get('year'), data.get('month'), data.get('day')])  # 숫자 리스트\n    return '-'.join([data.get('year'), data.get('month'), data.get('day')])",
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  "join_date({'year': 2000, 'month': 1, 'day': 1})\nprint(data.get(year))",
  "join_date({'year': 2000, 'month': 1, 'day': 1})\nprint(data.get(year))",
  "join_date({'year': 2000, 'month': 1, 'day': 1})\nprint(join_date.get(year))",
  "join_date({'year': 2000, 'month': 1, 'day': 1})\nprint(join_date.get('year'))",
  "def join_date(data):\n    print([data.get('year'), data.get('month'), data.get('day')])  # 숫자 리스트\n    year = str(data.get('year'))\n    month = data.get('month')\n    if month < 10:\n        month = '0'+ str(month)\n    else:\n        month = str(month)\n    day = data.get('day')\n    if day < 10:\n        month = '0'+ str(day)\n    else:\n        month = str(day)\n    return '-'.join([data.get('year'), data.get('month'), data.get('day')])",
  "join_date({'year': 2000, 'month': 1, 'day': 1})\nprint(join_date.get('year'))",
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  "def join_date(data):\n    print([data.get('year'), data.get('month'), data.get('day')])  # 숫자 리스트\n    year = str(data.get('year'))\n    month = data.get('month')\n    if month < 10:\n        month = '0'+ str(month)\n    else:\n        month = str(month)\n    day = data.get('day')\n    if day < 10:\n        month = '0'+ str(day)\n    else:\n        month = str(day)\n    return '-'.join([data.get('year'), data.get('month'), data.get('day')])",
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  "# {'year': 2000, 'month': 1, 'day': 1} 를 '2000-01-01' 를 return 하는 함수",
  "def join_date(data):\n    print([data.get('year'), data.get('month'), data.get('day')])  # 숫자 리스트\n    year = str(data.get('year'))\n    month = data.get('month')\n    if month < 10:\n        month = '0'+ str(month)\n    else:\n        month = str(month)\n    day = data.get('day')\n    if day < 10:\n        month = '0'+ str(day)\n    else:\n        month = str(day)\n    return '-'.join([data.get('year'), data.get('month'), data.get('day')])",
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  "def join_date(data):\n    print([data.get('year'), data.get('month'), data.get('day')])  # 숫자 리스트\n    year = str(data.get('year'))\n    month = data.get('month')\n    if month < 10:\n        month = '0'+ str(month)\n    else:\n        month = str(month)\n    day = data.get('day')\n    if day < 10:\n        month = '0'+ str(day)\n    else:\n        month = str(day)\n    return '-'.join([year, month, day])",
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  "def join_date(data):\n    print([data.get('year'), data.get('month'), data.get('day')])  # 숫자 리스트\n    year = str(data.get('year'))\n    month = data.get('month')\n    if month < 10:\n        month = '0'+ str(month)\n    else:\n        month = str(month)\n    day = data.get('day')\n    if day < 10:\n        day = '0'+ str(day)\n    else:\n        day = str(day)\n    return '-'.join([year, month, day])",
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  'def join_date(data):\n    print("{}-{:02}-{:02}".format(data.get(\'year\'), \n                                data.get(\'month\'), \n                                  data.get(\'day\')))',
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  'def join_date(data):\n    return("{}-{:02}-{:02}".format(data.get(\'year\'), \n                                data.get(\'month\'), \n                                  data.get(\'day\')))',
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  "def join_date(data):\n    print([data.get('year'), data.get('month'), data.get('day')])  # 숫자 리스트\n    year = str(data.get('year'))\n    month = data.get('month')\n    if month < 10:\n        month = '0'+ str(month)\n    else:\n        month = str(month)\n    day = data.get('day')\n    if day < 10:\n        day = '0'+ str(day)\n    else:\n        day = str(day)\n    return '-'.join([year, month, day])",
  'def join_date(data):\n    return("{}-{:02}-{:02}".format(data.get(\'year\'), \n                                data.get(\'month\'), \n                                  data.get(\'day\')))',
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  'def join_date(data):\n    print("{}-{:02}-{:02}".format(data.get(\'year\'), \n                                data.get(\'month\'), \n                                  data.get(\'day\')))',
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  'def join_date(data):\n    return("{}-{:02}-{:02}".format(data.get(\'year\'), \n                                data.get(\'month\'), \n                                  data.get(\'day\')))',
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  'def join_date(data):\n    print("{}-{:02}-{:02}".format(data.get(\'year\'), \n                                data.get(\'month\'), \n                                  data.get(\'day\')))',
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  'def join_date(data):\n    print("{year}-{month:02}-{day:02}".format(\n                                year=data.get(\'year\'), \n                                month=data.get(\'month\'), \n                                day=data.get(\'day\')))',
  'def join_date(data):\n    print("{year}-{month:02}-{day:02}".format(\n                                year=data.get(\'year\'), \n                                month=data.get(\'month\'), \n                                day=data.get(\'day\')))',
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  'def join_date(data):\n    print("{year}-{month:02}-{day:02}".format(**data))',
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  'def join_date(data):   # 가장 쉽게 풀어쓰는 것\n    return("{year}-{month:02}-{day:02}".format(**data))',
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  'def join_date(data):   # 가장 쉽게 풀어쓰는 것\n    return"{year}-{month:02}-{day:02}".format(**data)',
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  '# {\'name\':\'홍길동\', \'year\':\'2000, \'month\':1, \'day\':1}를\n# {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'} 로 가공\n\nlist(map(lambda member : {\n                            \'name\' : member.get(\'name\'),\n                            \'birth\' : "{year}-{month:02}-{day:02}".format(**member)"\n                            },\n          memeber2\n))',
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  '# {\'name\':\'홍길동\', \'year\':\'2000, \'month\':1, \'day\':1}를\n# {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'} 로 가공\n\nlist(map(lambda member : {\n                            \'name\' : member.get(\'name\'),\n                            \'birth\' : "{year}-{month:02}-{day:02}".format(**member)"\n                            },\n          memeber2\n))',
  '# {\'name\':\'홍길동\', \'year\':\'2000, \'month\':1, \'day\':1}를\n# {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'} 로 가공\n\nlist(map(lambda member : {\n                            \'name\' : member.get(\'name\'),\n                            \'birth\' : "{year}-{month:02}-{day:02}".format(**member)"\n                            },\n          member2\n))',
  '# {\'name\':\'홍길동\', \'year\':\'2000, \'month\':1, \'day\':1}를\n# {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'} 로 가공\n\nlist(map(lambda member : {\n                            \'name\' : member.get(\'name\'),\n                            \'birth\' : "{year}-{month:02}-{day:02}".format(**member)\n                            },\n          member2\n))',
  '# {\'name\':\'홍길동\', \'year\':\'2000, \'month\':1, \'day\':1}를\n# {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'} 로 가공\n\nlist(map(lambda member : {\n                            \'name\' : member.get(\'name\'),\n                            \'birth\' : "{year}-{month:02}-{day:02}".format(**member)\n                            },\n          member2\n))',
  '# {\'name\':\'홍길동\', \'year\':\'2000, \'month\':1, \'day\':1}를\n# {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'} 로 가공\n\nlist(map(lambda member : {\n                            \'name\' : member.get(\'name\'),\n                            \'birth\' : "{year}-{month:02}-{day:02}".format(**member)\n                            },\n          member2\n))',
  "member2 = list(map(lambda member : {\n                'name' : member.get('name'),\n                'year' : int(member['birth'].split('-')[0]),\n                'month' : int(member['birth'].split('-')[1]),\n                'day' : int(member['birth'].split('-')[2]),\n                },\n       member1  \n       )\n    )",
  'member2',
  '# {\'name\':\'홍길동\', \'year\':\'2000, \'month\':1, \'day\':1}를\n# {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'} 로 가공\n\nlist(map(lambda member : {\n                            \'name\' : member.get(\'name\'),\n                            \'birth\' : "{year}-{month:02}-{day:02}".format(**member)\n                            },\n          member2\n))',
  'def evenchk(value):\n    return value%2==0\nevenchk(10)',
  'def evenchk(value):\n    return value%2==0\nevenchk(10) evenchk(9)',
  'def evenchk(value):\n    return value%2==0\nevenchk(10), evenchk(9)',
  'list_data=[1,2,3,4,5]\nfilter_template(lambda vlaue : value%2==0, list_data)',
  'def filter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(l):\n            result.append(1)\n        return result',
  'def evenchk(value):\n    return value%2==0\nevenchk(10), evenchk(9)',
  'list_data=[1,2,3,4,5]\nfilter_template(lambda vlaue : value%2==0, list_data)',
  'def filter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(l):\n            result.append(1)\n        return result',
  'def evenchk(value):\n    return value%2==0\nevenchk(10), evenchk(9)',
  'list_data=[1,2,3,4,5]\nfilter_template(lambda vlaue : value%2==0, list_data)',
  '[data for data in list_data if data%2==0]',
  'list_data=[1,2,3,4,5]\nfilter_template(lambda value : value%2==0, list_data)',
  'def filter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(l):\n            result.append(1)\n        return result',
  'def evenchk(value):\n    return value%2==0\nevenchk(10), evenchk(9)',
  'list_data=[1,2,3,4,5]\nfilter_template(lambda value : value%2==0, list_data)',
  'def evenchk(value):\n    return value%2==0\nevenchk(10), evenchk(9)',
  'list_data=[1,2,3,4,5]\nfilter_template(lambda value : value%2==0, list_data)',
  'list_data=[1,2,3,4,5]\nfilter_template(lambda value : value%2==0, list_data)',
  'list_data',
  '(lambda value : value%2==0)(2)',

In [257]:
all([True,True, True, False]) # 전부 Ture 인지 여부

False

In [258]:
round(3.5) # 반올림

4

In [262]:
import numpy as np # numpy 모듈을 np라는 이름으로 load
np.round(3.5), np.ceil(3.5), np.floor(3.2) # 반올림, 올림, 내림

(4.0, 4.0, 3.0)

In [267]:
# 연습문제 1
def get_max_min(data_list):
    return max(data_list), min(data_list)
get_max_min([1,2,3,4,56])

get_max_min = lambda data_list : (max(data_list), min(data_list))

In [343]:
# 연습문제2
kg=int(input("체중을 입력하시오>"))
m=float(input("키를 입력하시오>"))
BMI = kg/(m)*(m)
BMI_value = lambda BMI : "고도비만" if 30<= BMI else\
                         "비만" if 25<= BMI <30 else\
                         "표준" if 18.5<= BMI <25 else\
                         "마른체형" if BMI < 18.5 else\
                         "유요하지 않음"

# 질문하기 return 이 없어서 란다는 힘들다
       
BMI_value(21)

체중을 입력하시오>70
키를 입력하시오>170

'표준'

In [339]:
#문제 3번
import math
def get_triangle(width, height):
    perimeter = (width+height+math.sqrt(width**2+height**2)) 
    
    area = ((width*height)/2)
    return perimeter, area

get_triangle(3,4)

(12.0, 6.0)

In [340]:
# 문제 4번
def mysum(From, end):
    resutl = sum(range (From, end+1))
    return resutl

mysum(10,12)

33

In [308]:
# 연습문제 5

def get_abbrs(lst):
    result=[]
    for data in list:
        if len(data)>=4:
            pass
        else:
            result.append(data)
    return result

get_abbrs(['Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’])

SyntaxError: unterminated string literal (detected at line 12) (2426567579.py, line 12)

In [309]:
# 연습문제 6
add2 = lambda x,y : x**y
add2(2,4)

16

In [ ]:
# 연습문제 6
def add2(x, y):       # x와 y를 입력받는 함수 정의
    result = x ** y    # x의 y승을 계산해서 result에 저장
    return result      # result를 반환

In [329]:
# 연습문제 7
# 리스트 컴프리핸션
list_data1 = [1,2,3,4,5]
[data**2 for data in list_data1]

[1, 4, 9, 16, 25]

In [335]:
# 연습문제 7
# map 과 람다
list_data = [1,2,3,4,5]
result = map(lambda x : x**2, list_data)
print(list(result))

[1, 4, 9, 16, 25]

In [336]:
# 연습문제 8
# 리스트 앞에* 있어서 리스트를 풀고 a 는 그냥 리스트를 출력한다

In [6]:
# 연습문제 9
date_info={'year':2024, 'month':9, 'day' : 6}
result = '{year}-{month}-{day}'.format(**date_info)   # dic 에서 언패킹한다 
result
# 그런데 실질적으로 2024-09-06 의 결과를 얻기 위해서는    
date_info={'year':2024, 'month':9, 'day' : 6}    #숫자이기 때문에 왼쪽 정렬을 한다
result = '{year}-{month:02}-{day:02}'.format(**date_info)
result

'2024-09-06'

In [8]:
date_info={'year': '2024', 'month':'9', 'day' : '6'}   # 이건 문자열이기 때문에 왼쪽정렬한다
result = '{year}-{month:>02}-{day:>02}'.format(**date_info)   # dic 에서 언패킹한다 
result

'2024-09-06'

In [10]:
# 연습문제 10
 
# 입력받은 n개의 벡터(리스트나 튜플이나 셋)의 크기들이 모두 같은지 여부 return : all이용
def vector_size_check(*vector_var):
    result = []
    for vector in vector_var:
        result.append(len(vector))
    return all(result)
def vector_size_check(*vector_var):
    return all([len(vector) for vector in vector_var])
vector_size_check([10, 20], (100,200), {'name':'홍', 'age':20}, {1, 2})

True

In [15]:
def vector_size(*vector_var):
    return[len(vector) for vector in vector_var]

vector_size_check([10, 20], (100,200), {'name':'홍', 'age':20}, {1, 2})

True

In [27]:
def vector_size(*vector_var):    # set 이용
    return len(set([len(vector) for vector in vector_var]))=1
           
vector_size_check([10, 20], (100,200), {'name':'홍', 'age':20}, {1, 2})

SyntaxError: invalid syntax (3139971111.py, line 2)

In [24]:
# all 이용
def vector_size(*vector_var):
    return all([len(vector) for vector in vector_var])

In [26]:
vector_size_check([10, 20], (100,200), {'name':'홍', 'age':20}, {1, 2})

True

In [14]:
# 서술형 1
# 2번

In [3]:
# 서술형 2
a = 10 # 전역변수
def sub():
    global a # 문제해결을 위한 코드  이걸 설정 해야함
    a += 1
    print(a, end='(sub에서 a는 전역변수) ')
def func():
    for i in range(2):
        a = 5 # 지역변수
        a += 1
        print(a, end='(func에서 a는 지역변수) ')
        sub()
func()
answer ='''
오류가 발생하는 라인 : 원래 3번째줄(a += 1부분)
a = a+1 : a에 값을 할당하면 지역변수가 됨
          지역변수 a+1를 계산할 수 없음
문제해결을 위해 : 에러나는 줄 앞에 global a 선언
'''

In [28]:
# 서술형 3. 실행결과
var = 100
def func(var): # 매개변수로 들어온 변수는 지역변수
    var = 200  # 그러므로 var는 전역변수가 아니고 지역변수
func(var)
print(var)

100

In [29]:
# 서술형 4. 실행결과
def my_func(func, *args):
    return func(*args)
import numpy as np
my_func(np.add, 2, 3)

5

In [36]:
# 서술형 5 실행결과
def my_func(func, *args):
    return func(*args)
my_func(lambda a, b : a**b, 3, 2)

9

In [31]:
# 6번 답 1

In [32]:
# 7번  답4

In [ ]:
# 서술형 8. lambda