In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch02 자료형과 연산자</font>
# 1절 변수
- python은 변수선언이 필요 없음. 할다과 동시에 타입이 지정되고 값이 할당됨
## 1.1 변수할당
- 할당연산자(=)를 이용해서 값을 할당하면 타입이 셋팅
- 파이썬에서의 모든 변수는 객체로 저장

In [2]:
r = 5

In [3]:
number = input("r>")

r>5

In [4]:
print("width of circle", 3.14*r*r)

width of circle 78.5

In [5]:
print(r)

5

In [7]:
r=5
area=3.14*r*r
print("calculated area", area)

calculated area 78.5

In [8]:
import math

In [9]:
PI

NameError: name 'PI' is not defined

In [11]:
import numpy as np
area = np.pi*r*r
print("area=", area)

area= 78.53981633974483

In [12]:
area.is_integer()  # area 가 자연수 인지 여부

False

In [13]:
area.is_float()

AttributeError: 'float' object has no attribute 'is_float'

In [14]:
print("address of area",id(area)) #id(area) : area 변수의 주소값
print(type(area))

address of area 1764391461008
<class 'float'>

In [15]:
area.is_float

AttributeError: 'float' object has no attribute 'is_float'

In [16]:
area = 5.5

In [17]:
print("address of area",id(area)) #id(area) : area 변수의 주소값
print(type(area))

address of area 1764392347536
<class 'float'>

In [18]:
area = 10

In [19]:
print("address of area",id(area)) #id(area) : area 변수의 주소값
print(type(area))

address of area 1764310188560
<class 'int'>

In [20]:
area.is_integer()

AttributeError: 'int' object has no attribute 'is_integer'

In [21]:
area="python"
print("address of area",id(area)) #id(area) : area 변수의 주소값
print(type(area))

address of area 1764353612528
<class 'str'>

## 1.2 변수이름 규칙
-문자로 시작(숫자시작불가)
-문자, 숫자, _로 변수명 작성
-함수명은 변수이름으로 가능하나 피한다. 써야한다면 int_ 식으로 underbar 를 활용한다
-파이썬 예약어(for, ..)는 변수이름 사용 불가
-한글변수는 꼭 필요시에만 이용

In [22]:
이름="홍길동"
print("이름")

이름

In [23]:
print(이름) # 변수를 한글로 하는건 피하는 것이 좋다, 또한 대문자로 시작한 변수도 피하는것이 좋다

홍길동

In [24]:
member_name = "홍길동"
memberName = "홍길동"

In [26]:
# 파이썬에서의 숫자 : 정수, 실수, 복소수
i = 3 + 3j
type(i)

complex

In [30]:
isinstance(i,complex)# i 변수가 complex 인지 여부

True

## 1.3 도움말

In [31]:
help(print) # 빠져나올려면 q / esc 를 눌러서 결과 접기/펴기

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [33]:
# 도움말 기능 : shift + tab 키

In [36]:
def add(x, y):
    '''
    매개변수 2개를 받아 두자리 숫자로 만들어요
    x=10의 자리수가 됨
    y=1의 자리수가 됨
    사용법 : add(2,3)
    '''
    return x*10 + y

In [37]:
add(2,3)

23

In [38]:
def add(x, y=0):
    return x*10+y

In [39]:
add(2)

20

In [40]:
a=add
a(2,3)

23

## 1.4 다중 변수 할당

In [41]:
a= 10
b=20

In [42]:
a,b = 10, 20
print(a, b)

10 20

In [43]:
a, b= b, a+b
print(a, b)
# 다중변수 할당시 순차적 할당이 아니고, 일괄 동시 할당

20 30

# 2절. 화면입출력(i/o)

In [45]:
# input() : 사용자로부터 값을 입력받기 위한 함수, 문자열로 입력
first=input("first number")
first

first number5

'5'

In [46]:
second=input("second number")
print(second)

second number2
2

In [47]:
sum= first + second

In [48]:
print(sum)

52

In [49]:
sum = int(first)+int(second)
print(sum) # input 함수는 문자열로만 받는다

7

In [50]:
first = int(input("first number")) # 처움부터 수로 바꾸는 방법

first number8

In [51]:
second = int(input("second number"))

second number2

In [52]:
sum= first + second
print(sum)

10

In [56]:
print('합',sum, sep='=', end='')
print('합',sum, sep='~', end='')
print('합',sum, sep='is', end='')

합=10합~10합is10

In [61]:
print("hi" "world")

hiworld

In [59]:
print("hi","world",sep=",")

hi,world

In [63]:
import sys
print("hi","world",sep=",",file=sys.stdout)

hi,world

# 3절. 기본자료형
- 자료형에 따라 값의 크기와 저장방식이 달라진
- 숫자 : int, float
- 문자 : str
- 논리 : bool(True/False) # 이 True 와 False 는 대문자로 시작해야 한다
## 3.1 숫자형

In [64]:
import sys
sys.maxsize # 정수의 최대값 2의 63승-1

9223372036854775807

In [65]:
i = sys.maxsize + 1000

In [68]:
print(i)
print(type(i))

9223372036854776807
<class 'int'>

In [70]:
f= 4/2 # 정수/정수는 무조건 실수
f

2.0

In [72]:
# 자바처럼 정수/정수의 결과를 정수로
f=3//2 # 몫 연산자
f

1

In [73]:
c = 1j # 0 + i
print(c**2)

(-1+0j)

In [75]:
f = 1.12e12 # 1.12의 10의 12승
f

1120000000000.0

In [76]:
f=1.12e-12
f

1.12e-12

## 3.2문자형
쌍따옴표("-")나 홑따옴표('-')이용

In [79]:
name = "홍길동"짱"" 
name = '홍길동"짱"'
address = # 서울시 관악구 '신길동'
address ="서울시 관악구 '신길동'"
print(address)

SyntaxError: invalid syntax (3918022450.py, line 1)

In [80]:
address ="서울시 관악구 '신길동'"
print(address)

서울시 관악구 '신길동'

In [81]:
name = "홍길동'짱'"
print(name)

홍길동'짱'

In [82]:
name = '홍길동"짱"'
name

'홍길동"짱"'

In [83]:
# 문자형 변수 여러줄
text = '''여러줄 짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많음'''
print(text)

여러줄 짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많음

### ※ 문자열 연산

In [84]:
'''
   여러 줄 주석 용도
   2025.04.08 문자열 연산 소스 by 아무개
'''
name1="홍길동"
name2="동해 번쩍 서해 번쩍"
print(name1+name2)

홍길동동해 번쩍 서해 번쩍

In [85]:
print(name1*3) # 문자열을 곱하면 반복

홍길동홍길동홍길동

### ※ RAW 데이터 
-용도 : 정규표현식 이용, 디렉터리 경로 표현시 이용

In [2]:
print('hi\nworld')

hi
world

In [1]:
print(r'hi\nworld') # 줄 바꾸는거 해석 x r (raw)를 넣어서 그대로

hi\nworld

In [92]:
print('hi\\nworld')

hi\nworld

정규표현식
```
1. 참조 : 위키백과
2. 간략한 문법 :
      \d (숫자와 매치,[0-9]와 동일
      \D (숫자가 아닌것)
      \w (영문자나 숫자, [a-zA-Z0_9]
      \W (영문자나 숫자가 아닌 문자)
      . (문자)
      \. (.의미)
      \- (-의미)
      {2, 4} (2~4번 반복)
      {4}    (4번 반복)
      {2,}   (2번 이상 반복)
      +      (1번 이상 반복)
      *      (0번 이상 반복)
      ?   (0번이나 1번 반복)
3. 정규표현식 연습장(https://regexr.com/)
   ex)1. 전화번호 : 010-9999-9999-9999       02-7777-8888       01078789898      02)456-1234        010 4567 7894
                    010.6547.4569
       
      정규표현식 :  [\d]{2,}[-) .][\d]{2,4}[- .][\d]{4}
   
   ex)2. 이메일 : abc12@naver.com   /   abc456@0to7.co.kr
       정규표현식
```

In [ ]:
fff