In [176]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch09 입출력 프로그램</font>
파일 : txt, pickle, csv, json, hdf5(h5)

# 1절. txt파일에 데이터 저장하고 불러오기

In [177]:
#try: 
#    f = open('data/ch09.txt', 'w') # 데이터 출력
#except FileNotFoundError as e:
#    print(e)   # 파일 이름이 잘못치면 try, except 하고 예외 처리를 해주어야 한다
#finally:
#    f.close()

In [178]:
f = open('data/ch09.txt', 'w')
print('쓰기 가능한지 여부 :', f.writable())

쓰기 가능한지 여부 : True

In [179]:
f.write("H")
f.close()    #close()로 마무리 지어야 함   저장은 x

In [180]:
# mode : 'r' 또는 'rt' : text읽기 모드
      #  'rb' : 바이너리읽기 모드
      #  'w' 또는 'wt' : text쓰기 모드 (파일이 있으면 덮어씀, 파일이 없으면 파일 생성)
      #  'wb' : 바이너리쓰기 모드
      #  'a' 또는 'at' : text 추가 모드(파일이 있으면 append, 파일이 없으면 파일 생성)
      # 읽기모드에서는 파일이 없으면 예외/쓰기모드에서는 폴더가 없으면 예외
# encoding 
     # euc-kr (한글완성형) 믜x
     # cp949 (확장된 한글완성형) : open()함수 기본 encoding방식(win)
     # utf-8 (한글조합형): open()함수 기본 encoding방식(mac, linux), 주피터노트북 기본
with open('data/ch09.txt', 'w') as f:
    print('쓰기 가능한지 여부 :', f.writable())
    f.write('Hello\nPython')

쓰기 가능한지 여부 : True

In [181]:
with open('data/ch09.txt', 'w') as f:
    # 1방법
    f.write('홍길동, 33, 아무동9\n')
    f.write('김길동, 33, 아무동9\n')
    # 2방법
    textlist = ['홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n']
    for line in textlist:
        f.write(line)
    # 3방법
    f.writelines(textlist)

In [253]:
# 한줄씩 읽기
with open('data/ch09.txt', 'r') as f:
    line = f.readline()
    while line!='':
        print(line, end='')
        line = f.readline()

홍길동, 33, 아무동9
김길동, 33, 아무동9
홍길동, 33, 아무동9
김길동, 33, 아무동9
홍길동, 33, 아무동9
김길동, 33, 아무동9

In [183]:
# 모든 줄을 읽기
with open('data/ch09.txt', 'r') as f:
    lines = f.readlines()
    print(lines)

['홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n', '홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n', '홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n']

In [184]:
# 모두 읽기
with open('data/ch09.txt', 'r') as f:
    lines = f.read()
    print(lines)

홍길동, 33, 아무동9
김길동, 33, 아무동9
홍길동, 33, 아무동9
김길동, 33, 아무동9
홍길동, 33, 아무동9
김길동, 33, 아무동9

## 2절. 피클을 이용한 객체 저장 및 불러오기
# 2.1 형식이 있는 txt 데이터 불러오기

In [185]:
class Member:
    def __init__(self, name, age, email, address):
        self.name=name
        self.age=age
        self.email=email
        self.address=address
    def __str__(self):
        return "{}, {}, {}, {}" .format(self.name, "성년" if self.age>18 else "미성년", self.email,
                                         self.address)
    def as_dict(self): # 객체를 dic 로 반환해줌
        return{
            'name':self.name,
            'age':self.age,
            'email':self.email,
            'address':self.address
        }
    def __eq__(self, other):
        return self.name == other.name and\
        self.age == other.age and self.email == other.email and\
        self.address == other.address

In [186]:
user1 = Member('홍',20,'a@a.com','신림동')
user2 = Member('홍',20,'a@a.com','신림동')
print(user1==user2)
print(user1.__eq__(user2)) # 같은 내용이면 True

True
True

In [187]:
# 형식이 있는 txt 파일 내용을 member list(피클 저장), 딕셔너리 list(데이터프레임)로 저장
user_list = [] # member list
user_dict = [] # 딕셔너리 list
with open('data/ch09_member.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()
#print(lines)
for line in lines:
    data = line.split(',')
    #print(data)
    name=data[0]
    age=int(data[1].strip())   # strip() 는 좌우 공백제거
    email = data[2].strip()
    address = data[3].strip()
    user = Member(name, age, email, address)
    user_list.append(user)
    user_dict.append(user.as_dict())

In [188]:
user_dict

[{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'},
 {'name': '홍길숙',
  'age': 25,
  'email': 'kilsuk1@hong.com',
  'address': '서울시 영등포구'},
 {'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '서울시 동작구'}]

In [189]:
for user in user_list:
    print(user)

홍길동, 성년, kildong@hong.com, 서울시 관악구
홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
신길동, 성년, shinkil@hong.com, 서울시 동작구

## 2.2 피클링
- 객체 리스트(user_list) -> 피클파일로 쓰기
- 피클 파일을 읽기 -> 객체 리스트(load_user_list)

In [190]:
# 피클링을 이용한 객체를 저장하기
import pickle
with open('data/ch09_member.data', 'wb') as f:
    pickle.dump(user_list, f)

In [254]:
# 피클링을 이용한 파일에서 객체 데이터로 읽기
with open('data/ch09_member.data', 'rb') as f:
    load_user_list = pickle.load(f)

In [255]:
user_list == load_user_list

False

In [256]:
for idx in range(len(user_list)):
    print(idx, user[idx])
    print(idx, load_user_list[idx])

TypeError: 'Member' object is not subscriptable

In [194]:
for idx, (user, load_user) in enumerate(zip(user_list, load_user_list)):  # zip 은 같은 인덱스를 짝지어줌
    print(user)
    print(load_user)
    print(user == load_user)

홍길동, 성년, kildong@hong.com, 서울시 관악구
홍길동, 성년, kildong@hong.com, 서울시 관악구
True
홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
True
신길동, 성년, shinkil@hong.com, 서울시 동작구
신길동, 성년, shinkil@hong.com, 서울시 동작구
True

In [195]:
result = []
for user, load_user in zip(user_list, load_user_list):
    result.append(user==load_user)
all(result)

True

# 3절. csv 형식 파일 읽기/쓰기
- csv <-> 리스트데이터로 읽기 3.1/3.2
- csv <-> 딕셔너리데이터 3.3/3.4

## 3.1 reader

In [196]:
import csv    
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    result = list(reader)
print(result)   # print(list(reader)) : 사용할 경우 띄어쓰기 주의해야 할것

[['홍길동', '20', 'kildong@hong.com', '서울시 관악구'], ['김길동', '40', 'kimdong@hong.com', '서울시 영등포구'], ['신길동', '30', 'sindong@hong.com', '서울시 동작구']]

In [197]:
# ""(따옴표)가 없는 데이터는 numeric으로 
import csv
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f, 
                       quoting=csv.QUOTE_NONNUMERIC)
    result = list(reader)
print(result)

[['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구'], ['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구'], ['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']]

In [198]:
import csv
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f, 
                       quoting=csv.QUOTE_NONNUMERIC)
    result = list(reader)
dict_list = []
for data in result:
    dict_list.append({
        'name':data[0],
        'age':int(data[1]),
        'email':data[2],
        'address':data[3]
    })
print(dict_list)

[{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'}, {'name': '김길동', 'age': 40, 'email': 'kimdong@hong.com', 'address': '서울시 영등포구'}, {'name': '신길동', 'age': 30, 'email': 'sindong@hong.com', 'address': '서울시 동작구'}]

## 3.2 writer

In [199]:
user_list=[['홍길동', 20, 'kildong@hong.com', '서울시 관악구'], 
           ['김길동', 40, 'kimdong@hong.com', '서울시 영등포구']]

In [200]:
with open('data/ch09_member_write.csv', 'a', newline='', encoding='utf-8') as f:
    writer = csv.writer(f)
    writer.writerows(user_list)

In [257]:
import csv
with open('data/ch09_member_write.csv', 'w', newline='', encoding='utf-8') as f:
    writer = csv.writer(f, quoting=csv.QUOTE_NONNUMERIC)
    writer.writerows(user_list)

## 3.3 DictReader

In [202]:
import csv
#헤더가 있으면 지정 안해도 되고 없으면 해야 한다
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader = csv.DictReader(f)
    print(dict_reader)
    for row in dict_reader:
        if row['job'] is None:  # == None 이라는 표현 보다 is None 사용하기
            print(row['name'], row['age'], row['email'], row['address'])
        else:
            print(row['name'], row['age'], row['email'], row['address'], row['job'])

<csv.DictReader object at 0x000001C4C002F130>
홍길동 20 h@h.com 서울시 관악구
신길동 40 s@h.com 서울시 영등포구 팀장
김길동 30 k@h.com 서울시 동작구

In [203]:
# 헤더가 없는 csv파일(ch09_member1-cp.csv)을 dict로 읽기
with open('data/ch09_member1-cp.csv', encoding='cp949') as f:
    dict_reader = csv.DictReader(f,
                fieldnames=['Name', 'Age','Email','Address',],
                                restkey='job') #헤더가 없어서 이렇게 해 주어야 함
    restult = list(dict_reader)
for row in restult:
    print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'job': ['']}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'job': ['팀장']}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'job': ['']}

## 3.4 DictWriter
- 딕셔너리 리스트 -> csv파일

In [204]:
user1 = {'name' : '홍길동', 'age':22, 'email':'a@a.com', 'address':'신림동'}
user2 = {'name' : '신길동', 'age':32, 'email':'a@a.com', 'address':'신림동'}
user3 = {'name' : '김길동', 'age':42, 'email':'a@a.com', 'address':'신림동'}
user_list = [user1, user2, user3]
fieldnames=list(user1.keys())

In [205]:
user1.values()

dict_values(['홍길동', 22, 'a@a.com', '신림동'])

In [206]:
user1.keys()

dict_keys(['name', 'age', 'email', 'address'])

In [207]:
user1.items()

dict_items([('name', '홍길동'), ('age', 22), ('email', 'a@a.com'), ('address', '신림동')])

In [208]:
print(fieldnames)

['name', 'age', 'email', 'address']

In [209]:
with open('data/ch09_member4.csv', 'w', encoding='utf-8', newline='') as f:
    dict_writer = csv.DictWriter(f,
                                fieldnames=fieldnames)  # fieldname 에 fieldname 을 넣는것?
    dict_writer.writeheader() # header 쓰기
    dict_writer.writerows(user_list)

## csv <-> 데이터 프레임

In [210]:
import pandas as pd
member = pd.read_csv('data/ch09_member3.csv', encoding='utf-8')
member

  name  age    email   address  job
0  홍길동   20  h@h.com   서울시 관악구  NaN
1  신길동   40  s@h.com  서울시 영등포구   팀장
2  김길동   30  k@h.com   서울시 동작구  NaN

In [211]:
type(member)

pandas.core.frame.DataFrame

## 4절. JSON 데이터 저장하고 불러오기(dump, load)
- 딕셔너리리스트 <->JSON파일
- 객체리스트 <-> JSON 파일
## 4.1 dump(파일 출력)

In [212]:
data = [{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'},
        {'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '서울시 동작구'}]

In [213]:
# ensure_ascii 매개변수
    # True : 비 ASCII문은 유니코드 형태로 저장
    # False : 비 ASCII문자 원래 형태로 저장
import json
with open('data/ch09_member.json','w', encoding='utf-8') as jsonfile:
    json.dump(data, # 딕셔너리 리스트
              jsonfile,
              ensure_ascii=False,
              indent='\t')  # 들여쓰기 또는 띄어쓰기용

In [218]:
class Member:
    def __init__(self, name, age, email, address):
        self.name=name
        self.age=age
        self.email=email
        self.address=address
    def __str__(self):
        return "{}, {}, {}, {}" .format(self.name, "성년" if self.age>18 else "미성년", self.email,
                                         self.address)
    def as_dict(self): # 객체를 dic 로 반환해줌
        return{
            'name':self.name,
            'age':self.age,
            'email':self.email,
            'address':self.address
               }
    def __eq__(self, other):
        if isinstance(other, Member):
            return self.__str__() == other.__str__()
        
        else:
            return False

In [221]:
user1 = Member('홍길동', 22, 'a@a.com','신림동')
user2 = Member('홍길동', 22, 'a@a.com','신림동')
print(user1.__eq__(user2))
print(user1== user2)

True
True

In [223]:
member_list = [Member('홍길동', 2, 'a@a.com', '서울'),
               Member('신길동', 2, 'a@a.com', '서울'),
               Member('김길동', 2, 'a@a.com', '서울'),]

In [226]:
with open('data/ch09_member1.json','w', encoding='utf-8') as jsonfile:
    json.dump(member_list, # 객체 리스트)
              jsonfile,
              ensure_ascii=False,
              indent='\t',
              default = Member.as_dict #객체를 딕셔너리로 return 하는 인스턴스 함수
             )

## 4.2 load(파일 입력)
- json파일 -> 딕셔너리리스트(기본)
- json파일 -> 객체리스트     이걸 만들고 싶으면 딕셔너리리스트에서 객체 리스트로 바꾸어 주어야 한다

In [228]:
def as_member(dic):
    '매개변수로 딕셔너리를 받아 Member 객체를 return'
    return Member(dic.get('name'), dic['age'], dic.get('email'), dic.get('address'))

In [236]:
member = as_member({'name':'김길동', 'age':20, 'email' : 'z@z.com', 'address':'관악'})
print(member)

김길동, 성년, z@z.com, 관악

In [243]:
with open('data/ch09_member.json', 'r', encoding="utf-8") as f:
    load_data = json.load(f)
load_data

[{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'},
 {'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '서울시 동작구'}]

In [246]:
with open('data/ch09_member.json', 'r', encoding="utf-8") as f:
    load_member_list = json.load(f, object_hook=as_member)
for load_member in load_member_list:
    print(load_member)

홍길동, 성년, kildong@hong.com, 서울시 관악구
신길동, 성년, shinkil@hong.com, 서울시 동작구

## JSON -> 데이터프레임

In [249]:
import pandas as pd
pd.read_json('data/ch09_member1.json', encoding='utf-8')
# pd.함수() : encoding = 'utf-8' 기본값

  name  age    email address
0  홍길동    2  a@a.com      서울
1  신길동    2  a@a.com      서울
2  김길동    2  a@a.com      서울

In [251]:
import pandas as pd
pd.read_json('data/ch09_member.json')
# pd.함수() : encoding = 'utf-8' 기본값

  name  age             email  address
0  홍길동   20  kildong@hong.com  서울시 관악구
1  신길동   30  shinkil@hong.com  서울시 동작구